[2012-09-25 12:14] michaelmior opened #2 "README incomplete"
The README cuts off in the middle of a sentence and also doesn't seem to describe the plugin accurately.

[2013-03-26 10:45] vslinko opened #4 "Some responses doesn't contain text"
Test case: https://gist.github.com/vslinko/5244480
Execution output:

[code]

Tested with original chai-http and my PR https://github.com/chaijs/chai-http/pull/3

[2013-05-31 15:13] max-degterev opened #6 "How do I post with this thing?!"
[code]

no luck

[2013-06-25 19:29] #2 closed, assigned to nobody

[2013-06-25 19:33] #6 closed, assigned to nobody

[2014-08-22 09:02] Guuz opened #10 "redirectTo does not work for me"
I use this as a route (express 4)

[code]

When I `expect(res).to.redirectTo('/status')` the status code is 200 and not a 301, 302, or 303.
Express is actually working and I do get a redirect. Can it be that chai-http is following redirects and thus returns the final 200?

My old code works and looks like this:

[code]

Related PR: https://github.com/chaijs/chai-http/pull/9
And maybe @hurrymaplela

[2014-10-08 13:54] logicalparadox opened #13 "travis failures"
@keithamus I have added travis support and it seems some issues from you PR are coming to light. Can you please resolve.

https://travis-ci.org/chaijs/chai-http/builds/37397784

[2014-10-08 21:16] #4 closed, assigned to nobody

[2014-10-08 22:14] #13 closed, assigned to nobody

[2014-10-22 19:03] jcready opened #15 "Unable to Authenticate with Basic authentication"
The following example doesn't work and doesn't appear to be tested.

[code]

The `auth` method doesn't even appear to exist:

[code]

[2014-11-14 14:35] #15 closed, assigned to nobody

[2014-11-19 11:04] Guuz opened #17 "No promise library set"
Hello,

Just upgraded to the new `chai-http` and use the promises. I run my tests on Travis on node 0.10 and 0.11. Apparently 0.10 does not have native promises and i get this error `Tried to use chai-http with promises, but no Promise library set`.

Then i read the docs and now i understand this line:

How should i use this with node 0.10? Should i include https://github.com/kriskowal/q and set t

[2014-11-19 14:51] #17 closed, assigned to nobody

[2014-12-09 01:33] hurrymaplelad opened #20 "Test header values with regular expressions?"
I'd like to do something like

[code]

Which would pass if the server responded 'no-cache, no-store'.  Supertest [supports this assertion style](https://github.com/tj/supertest#expectfield-value-fn).

Would you take a PR for this?

[2014-12-09 01:39] hurrymaplelad opened #21 "Case insensitive header tests?"
Http treats [headers as case-insensitive](http://stackoverflow.com/questions/5258977/are-http-headers-case-sensitive).  Node [normalizes headers to lowercase](https://github.com/joyent/node/issues/1954) to make them easy to work with.  I'd expect the assertion interface to be as liberal as the http spec, so I could test

[code]

Would you take a PR to lowercase header names before retrieving them

[2014-12-10 22:17] #10 closed, assigned to nobody

[2014-12-10 22:19] #21 closed, assigned to nobody

[2014-12-11 05:00] svallory opened #25 "cookie() doesnt assert on Agent cookies"
Hi, I'm trying to use the `cookie` method and I'm getting the following error:

`TypeError: Cannot call method 'split' of undefined at [object Object].<anonymous>`
[`(http.js:307:48)`](https://github.com/chaijs/chai-http/blob/1.0.0/lib/http.js#L307)

Here is my code:

[code]

I'm using v1.0.0

[2014-12-11 23:54] #20 closed, assigned to nobody

[2015-01-06 23:38] nfreear opened #26 "Add easy testing for XML and Javascript content-types, and UTF-8 charset"
I love the existing support for JSON, HTML and text:

[code]

I propose extending this:

[code]

The proposed solution makes some assumptions:
1. The expected content-type for XML is `application/xml`
2. The expected content-type for Javascript is `text/javascript` - I suggest this is still the norm on servers despite `application/javascript` being more correct.

I'm also interested in testing the

[2015-01-07 10:29] keithamus commented on #26
Hey @nfreear thanks for the issue! You're totally right, we could extend these a bunch. If you fancy making a pull request - I'd love to see it.

For some ideas about a PR - you could use [node-mime](https://github.com/broofa/node-mime) and override the [`var contentTypes` declaration in http.js](https://github.com/chaijs/chai-http/blob/master/lib/http.js#L45-L49) to use node-mimes list. (Node mim

[2015-01-07 14:46] keithamus commented on #26
@nfreear you've all but nailed it. We can use node-mime and have both `.mime` and `.charset` assertions for the broad cases, and have a couple of convenient aliases which call out to `.mime`, so here's my suggestion:

- Add a `mime` method which asserts using something like `mime.extension(flag(this, 'obj').headers['content-type']) === value`
- Add a `charset` method which asserts using something

[2015-01-07 16:21] nfreear opened #27 "Add support for proxy servers..."
(Not reverse-proxy)

Hi,

I think we'd need to integrate [superagent-proxy](https://github.com/TooTallNate/superagent-proxy) - how to make this optional?

* See also, https://github.com/visionmedia/superagent/issues/1

Ideas?

Thanks,

Nick

[2015-01-07 16:42] nfreear commented on #27
Hmm, does this need adding to `chai-http`, or is something for the user of the module to integrate?

I think this may have changed from a feature request, into a question.

Would this work...?

[code]

[2015-01-07 17:03] keithamus commented on #27
Hey again @nfreear :smile:. superagent-proxy needs access to the SuperAgent instance, which for chai-http is in `chai.request.Test`, so your example will almost work - but you need to change `require('superagent-proxy')(chai);` to `require('superagent-proxy')(chai.request.Test);`, so the full code:

[code]

Let me know if this works for you and I'll close out the issue :smile:

[2015-01-08 14:19] nfreear commented on #27
Hi,

I haven't succeeded in getting it working so far. Fails with:

[code]

* https://github.com/nfreear/ou-media-player-test/blob/master/test/bootstrap/index.js#L34
* https://github.com/TooTallNate/superagent-proxy/blob/master/index.js#L97

Note, you may need this workaround if `npm install superagent-proxy` fails,

* https://github.com/nfreear/ou-media-player-test#proxy---pre-install

Bit of a p

[2015-01-08 16:37] keithamus commented on #27
@nfreear ok. This looks to be because we call our SuperAgent instance "Test" while this plugin is expecting "Request". Should be a simple enough change - simply add a line between [173-174 of request.js](https://github.com/chaijs/chai-http/blob/master/lib/request.js#L173-L174) saying

[code]

And then your first example of `chai.use(chaiHttp);` should work. If it works, please submit a PR and I'll

[2015-01-09 14:04] #27 closed

[2015-01-09 14:05] keithamus commented on #25
Hey @svallory. Do you have anything for this? If not I might just take a crack at it over the weekend.

[2015-01-09 19:23] svallory commented on #25
@keithamus Sorry, I don't. I simply created a new agent for each test and that solved it for me. Also, I'm really really busy and the message refactoring on chai is still hanging before this issue :/

[2015-01-13 02:07] adborden opened #29 "App errors are swallowed"
I'm trying to test an error condition in my app. First I'm adding middleware that throws and expect this test to pass because there is no error handler in the app. However, it just hangs because the end handler and `done` are never called.

[code]

Is this the right setup? Seems odd that things can just hang.

[2015-01-13 09:57] keithamus commented on #29
Hey @adborden thanks for the issue. Your code looks pretty good, but I think the key is what you're doing with Express - throwing errors inside an express route isn't canon; generally if you have an error you'd call `next(err)`. Also as you've no error handling middleware in place, I'm not exactly sure what Express would end up doing, does it error on your behalf? Or does it just 404 assuming that

[2015-01-14 01:30] adborden commented on #29
Yeah, I'm testing an unusual case. One would hope you're using middleware that doesn't throw in your app, but in case a third-party middleware throws unexpectedly, I want to make sure my code does the right thing and this is the beginnings of that test.

I believe without an error handler express returns a 500 response. Even if it just threw an uncaught exception and crashed the app, I would expec

[2015-01-14 09:35] keithamus commented on #29
@adborden what if you add logging throughout the test, to see which point it starts hanging at? Something like:

[code]

It's not pretty or elegant but it'll quickly show you which line is hanging.

[2015-01-29 05:59] jenius opened #30 "Settings headers and delete requests"
It seems like there's some sort of weird thing going on with the `del` method paired with the setting of any headers. Example:

[code]

What's strage about this is that the test passes fully, hitting the right method with the right headers, but it does not hit the `console.log` and fails with the following error message:

[code]

If you want me to take a look into this and can push me in the right

[2015-01-29 09:33] keithamus commented on #30
Thanks for the issue @jenius. Strange that you get that error - the Test class very clearly has a `set` method. Having said that I'm not sure it has a `res` method as your code example suggests.

By all means try to get a reduced test case going. Please try to supply more detail within the issue if you can and I'll try and push you in the right direction some more.

[2015-02-01 22:57] jenius commented on #30
Hey sorry, figured it out. I was on an older version of the library, most recent release works great :grinning:

[2015-02-01 22:57] #30 closed

[2015-02-27 17:36] gnrlbzik opened #32 "reading response's data / response data event"
Is there a way to read response's data? Or am I missing something?

I have a proxy server functionality that i need to test and I would like to compare two json files. I tried res.on('data' but it seams that mocha finishes run before hand.

[2015-02-27 21:55] keithamus commented on #32
Hey @gnrlbzik thanks for the issue.

The documentation describes two easy ways to deal with the response. The [traditional callback way, using .end()](https://github.com/chaijs/chai-http#dealing-with-the-response---traditional) and the [promise way, using .then()](https://github.com/chaijs/chai-http#dealing-with-the-response---promises). Below is the relevant info. If you have any more trouble wit

[2015-02-27 21:55] #32 closed

[2015-02-28 03:19] gnrlbzik commented on #32
Thank you @keithamus, did not expect you would get back to me so quickly :+1:  I will work through examples and get back to you.

[2015-03-12 16:59] pgrm opened #34 "Update to superagent 1.0"
Hi, I wanted to know if there are any plans to update to Superagent 1.0. It has been released only few days ago, but I'm very interested in this fix: https://github.com/visionmedia/superagent/commit/8c3858a19f70a86cc2ade99070f4c709968e787b as I need to test if my API returns a `null` value or not.

[2015-03-12 19:01] keithamus commented on #34
Sweet! Didn't know 1.0 was out. Feel free to submit a PR

[2015-03-13 12:43] pgrm commented on #34
I've submitted a PR, please push it to NPM at your earliest convenience, thx

[2015-03-25 21:52] James1x0 opened #36 "Issues sending certain mimeTypes with formdata"
Maybe a superagent issue, but I have a test that attaches a csv/xls/xlsx (all in separate tests) to send to a busboy route. Busboy interprets the csv as a file, but the xls/xlsx as a field (form field). I have also seen the same behavior with png files, but works with jpg. Sending from the browser works fine.
[code]

[2015-03-27 10:19] keithamus commented on #36
Hey @James1x0 thanks for the issue!

By the time you've called `post()` or one of the other HTTP-alike methods, you're in SuperAgent territory, so the `attach()` method is actually SuperAgent. However, `attach()` really just delegates to [FormData](https://github.com/felixge/node-form-data/blob/master/lib/form_data.js).

So ultimately it could be a bug with SuperAgent, or it could be a bug with Fo

[2015-03-27 15:24] James1x0 commented on #36
I'm thinking this is a superagent issue then. Busboy interprets the webkit form data boundaries as a file when coming from the browser, but not from the chai-http call. I'll link up an issue there.

[2015-04-10 10:20] asarr opened #37 "Multiple parameter"
Hi there,

I've been trying to send a request with a param list:

chai.request("myUrl").get("/v1/skus?id=123&id=456")...

this request got encoded and the server receives id[0]=123&id[1]=456 which is totally different than the expected format by the server.

Otherwise - using .query({id: "123", id: "456"}) or
.query({id: "123"})
.query({id: "456"})
override the initial value so only one param is g

[2015-04-17 11:01] inukshuk commented on #34
Is there anything holding this back or did you just forget to push to NPM? If there's work to be done I'd be glad to help land this update.

I noticed that responses with error codes like 400, 404 etc. are now returned as errors (and the properties like status do not seem to be available?), but otherwise all my tests continue to work when using the GitHub version (NPM still pulls the old superagen

[2015-04-17 11:40] pgrm commented on #37
sorry, but how are you accessing the params on the server? - maybe I'm missing here something, the way it gets encoded seems valid for me.

[2015-04-17 11:46] asarr commented on #37
I am not responsible of the backend server but it is expecting a list of ids (id=a&id=b), rather than an array of id (how it gets encoded at the moment).

Thanks to http spec, multiple value should be one of the format:

- id=a&id=b&id=c
- id=a,b,c

I am not saying the way it gets encoded is wrong, but when I pass d=a&id=b&id=c , I am not expecting it to be encoded prior sending the request.

[2015-04-17 11:59] pgrm commented on #37
Ok, anyway - this is probably not the library where you want to report the error. chai-http is merely using superagent and combining it with chai. So I think, [superagent](https://github.com/visionmedia/superagent) is handling everything about http requests and you should ask there. Afterwards, if it's a bug and they fix it, you'll still need to check if chai-http will use the new version of super

[2015-04-17 12:04] asarr commented on #37
Thanks a lot.
Amazing work on chai-http by the way - absolutely love it !

[2015-04-17 12:43] keithamus commented on #34
Hey @inukshuk, @logicalparadox will need to update the .travis.yml for auto-publishing like we've done in other repos. As soon as that's done we can roll out a new release. I guess given your comments we'll mark it as a 2.0.0.

[2015-04-17 12:47] keithamus commented on #37
Thanks for picking this up @pgrm. I'll close this as you're right, this is likely to be an upstream issue.

[2015-04-17 12:47] #37 closed

[2015-04-17 14:55] inukshuk commented on #34
Awesome!

The SuperAgent [docs ](http://visionmedia.github.io/superagent/#error-handling) mention that the `err` objects returned for 4xx and 5xx responses ought to contain properties like `.status` or `.response`, but I do not see them when using the Promise API of chai-http. However, if I read your `.then` [implementation](https://github.com/chaijs/chai-http/blob/master/lib/request.js#L234) corr

[2015-04-17 15:40] inukshuk commented on #34
OK I figured it out: the properties were added in 1.1.0; the current release is already 1.2.0 so I would adjust the version number accordingly.

[2015-04-17 19:09] keithamus commented on #34
Ok, I'll close this one now, and we'll release a 2.0.0 soon. Thanks @inukshuk and @pgrm

[2015-04-17 19:09] #34 closed

[2015-04-22 20:19] keithamus commented on #29
@adborden did you manage to successfully debug this?

[2015-05-19 02:51] dstroot opened #39 "Pass error message?"
If I use Supertest it passes the error message in this scenario however Chai-HTTP does not; yet both are using Superagent 1.2.  Any ideas?

[code]

[2015-06-13 04:12] Jhorlin opened #40 "Please expose a cleanup method so that I can teardown my tests properly."
I am running into a common [gulp-mocha](https://www.npmjs.com/package/gulp-mocha) issue where [gulp](https://github.com/gulpjs/gulp) cli  completes executing all the tasks but it does not exit. This is because [request](https://github.com/chaijs/chai-http/blob/master/lib/request.js#L157) creates a server when using a middleware app, but does not expose a method to destroy the procces and close the

[2015-07-14 23:36] wreckah commented on #36
I have the same problem in my tests :(

[2015-07-15 03:39] James1x0 commented on #36
@wreckah Yeah, still haven't solved the issue. Just had to abandon tests for that section of the api. Meh.

[2015-07-15 16:24] arnaugm opened #43 "expect cookie fails with a proper set-cookie header"
In a test I'm making some expectations on the response. One of the expectations verifies the existence of a cookie in the form:

<pre>
expect(res).to.have.cookie('cookieName');
</pre>

The expectation fails while the response object contains the set-cookie header with the cookie.

Using v1.0.0

[2015-08-31 20:07] rjperry611 commented on #27
For those who see this and don't want to change the module. I got it to work this way:
`chai.request.Request = chai.request.Test;`
`require('superagent-proxy')(chai.request);`

[2015-09-28 22:05] mjhea0 opened #45 "why doesn't this fail?"
Curious why the tests are passing?

https://github.com/mjhea0/real-time-markdown

if you look at the POST route it's nested inside the GET route. This should be getting a 404. In fact if you comment out the first test it fails.

https://github.com/mjhea0/real-time-markdown/blob/master/server/routes/api.js#L15

Thanks.

[2015-09-29 09:16] keithamus commented on #45
Hey @mjhea0 thanks for this.

You might have a better time asking this kind of question on [Stack Overflow](https://stackoverflow.com/). This issue tracker is more for bugs and feature requests.

If you think the test passing is an actual bug within chai-http, then could you please provide a reduced test case, or try to describe what the actual bug is, and then we can look to fixing it. I'll close

[2015-09-29 09:16] #45 closed

[2015-09-30 13:49] mjhea0 commented on #45
Thanks, @keithamus. I do think it is a bug within chai-http.

The [routes](https://github.com/mjhea0/real-time-markdown/blob/master/server/routes/api.js#L15) are written incorrectly (the POST is nested within the GET, so it should 404):

[code]

However, the [tests](https://github.com/mjhea0/real-time-markdown/blob/master/test/test-server.js#L32) still pass:

[code]

[2015-09-30 14:03] keithamus commented on #45
@mjhea0 Is it intentional that `router.get()` sets up `router.post()`? Seems like that code is wrong. At any rate this will mean that your tests cant be run in isolation - this test is probably passing because [you've already run the `get` in the test above](https://github.com/mjhea0/real-time-markdown/blob/master/test/test-server.js#L32) and therefore `router.post` has been set up by the next tes

[2015-09-30 19:33] mjhea0 commented on #45
@keithamus so each route was added separately, but the student writing the code accidentally nested the routes, then wrote the POST test and got a false positive. It should have 404'ed. So, you have to write your code correctly in order for the tests to work correctly. That defeats the purpose of writing tests. :)

[2015-10-12 17:39] markstos opened #46 "Wish: testing method check for empty bodies"
In some cases, a server will return `result.body` as a `null` value, in other cases it will return an empty response.  Practically, the difference often doesn't  matter. It would be nice if a method checked that either of these were met:

`expect(res.body).to.be.null` or `expect(res.body).to.be.empty`

[2015-12-16 03:34] mkatsoho opened #52 "redirects(0) causes then() does not work"
if using redirects(5), .then() works well for a POST. But if using redirect(0), which I only want to get the first http req's response, .then() never run. The workaround is using .end(err, res) instead.

Can you help to fix this?

My original code:
agent.post('/login')
    .field("pwd", pwd)
    .field("user", uid)
    .then( function( res ) {
        debug(res, 'POST login');
        expect(res).

[2016-01-14 15:56] codename- opened #54 "release new version to npm?"
Latest npm published version is 1.0.0, since then you've committed a lot of changes - maybe it's time to release those to npm?

[2016-01-27 20:43] SamPlacette opened #64 "Calling .then() multiple times on the same promise has weird side effects"
I just spent an hour tracking down this problem... Calling `.then()` on a promise should cause a new promise to be returned. But chai-http modifies the original promise. This causes all sorts of problems when I actually try to use chai-http with a test runner which attaches its own handlers to a promises.

From chai-http/lib/request.js:
[code]

Sorry I don't have a unit test to demonstrate this pr

[2016-01-27 20:46] keithamus commented on #64
Hey @SamPlacette thanks for the issue.

How do you feel about spending a bit of time and making a PR for this? It seems like you've got the code down, so adding a unit test and making a PR will put you [in our hall of fame](https://github.com/chaijs/chai-http/graphs/contributors) and also comes with a million internet points :smile:

[2016-01-27 20:55] SamPlacette commented on #64
Thanks for the quick reply @keithamus.

That code snippet wasn't a fix, I just copied and pasted the function where the problem exists.

I could put together a fix but I'm trying to meet some deadlines at the moment. If I submitted a PR how fast could you get a new release out into NPM?

[2016-01-27 21:00] keithamus commented on #64
Ahhh I see what you mean now (I thought you meant Chai-HTTP was mutating the original promise, but its creating a new one each time). What exactly is the test library doing? What would you propose to fix it?

As for releasing - I have planned out a few hours of time to Chai, which is happening in about 12 hours from now - so I could be cutting a release of chai-http in about 18 hours, if everythin

[2016-01-27 21:28] SamPlacette commented on #64
The problem is this line:
`  this._promise = this._promise.then(onResolve, onReject);`
This line re-assigns the promise on the chai-http response object.

I believe this is an error because attaching a fulfillment handler to a promise should create a new promise, and should not modify the original promise.

More information about my use case:

I'm using cucumberjs. I haven't looked at the source c

[2016-01-27 21:45] keithamus commented on #64
I think re-assigning the promise is kind of necessary. Hopefully [this little jsbin can illustrate my point](https://jsbin.com/xegamidita/1/edit?js,console):

[code]

The log output:

[code]

I'll need to take a peek at how cucumber works, but it _should_ be checking to see if `response` is a "thenable" (has a callbable `then` function) which is what all promise libs do. Some more investigation ne

[2016-01-27 21:52] SamPlacette commented on #64
Promises should be immutable. See https://www.google.com/search?q=javascript+promises+are+immutable

If an object supports the promise interface by exposing a `then()` method, that object must also support the immutable nature of promises.

This makes for a convenient test case for illustrating that problem. Here's what that might look like:

[code]

[2016-01-27 21:55] keithamus commented on #64
By re-assigning `this._promise`, chai-http's api maintains the immutability - for all intents and purposes. This sounds pretty backward - that mutating the internal state of a request object somehow makes it immutable, but it rings true because the _Promise API surface_ retains its immutability. To put it another way, Promises are immutable because `Promise.prototype.then()` returns a new Promise.

[2016-01-27 21:59] keithamus commented on #64
[here's the relevant code for cucumber-js btw](https://github.com/cucumber/cucumber-js/blob/f4bdd17388893523553d2a157feb18673e10dab8/lib/cucumber/support_code/step_definition.js#L136-L145) - it essentially does what I would expect - `if (typeof result.then === 'function') result.then(resolve, reject)`

[2016-01-27 22:00] SamPlacette commented on #64
I don't have time to follow up on this right now. I want to reiterate that this library behaves differently from other promise libs leading to unexpected side effects.

For anyone else going through this problem, I was able to work around the problem by directly referencing the `_promise` property on the response.

[2016-01-27 22:18] keithamus commented on #64
@SamPlacette I think your test suite is failing because `.then()` is being called multiple times, but the output isn't being carried over.

You say this is your test case:

[code]

Let's just look at the source of Chai-HTTP again:

[code]

So the first `then()` calls `self.end()` and resolves to the response object.

Where this falls down is the underlying code of Cucumber which is nuking the reso

[2016-01-27 22:18] #64 closed

[2016-01-27 23:33] SamPlacette commented on #64
I'm now using promisify-supertest (https://www.npmjs.com/package/promisify-supertest) instead of chai-http and my tests just work. This issue is no longer blocking me but I believe it will affect other people who choose to use chai-http.

[2016-01-27 23:39] keithamus commented on #64
Good to hear your problem is fixed. I'll still welcome a reduced test case if you have the time at any point. Also, I'd be interested to know if your test code has changed with `promisify-supertest`.

[2016-01-27 23:42] keithamus commented on #64
FYI it looks like if you dropped in that package to your existing code, the reason it would work is because the `request` object doesn't implement a `then` in its api (instead, a promise is returned from the `end()`) callback. While this looks like it'd be fine in the test case you provided, you should know that the HTTP request won't finish by the time the `this.When` ends (unless you call `end()

[2016-01-31 20:59] BigstickCarpet opened #68 "Browser support"
Chai and Superagent can both be run in Node or in web browsers.  It would be great if your plugin worked in browsers too.  This would allow people to write _universal_ tests that can run in Node (great for CI) and in browsers (great for real-world testing).  Mocha also supports both Node and web browsers, so it's dead-simple to accomplish truly universal tests.

I don't think it would even require

[2016-01-31 22:58] keithamus commented on #68
Thanks for the issue @BigstickCarpet.

You're quite right - it could be useful to have this work in the browser. Do you fancy trying to tackle this? If you need any help let me know.

[2016-01-31 23:01] BigstickCarpet commented on #68
Sure, I can take a crack at it.  Does my approach sound good to you? I'll just add Browserify to package it up into a browser-safe bundle.

[2016-01-31 23:03] keithamus commented on #68
Sounds perfect :smile:.

[2016-01-31 23:24] BigstickCarpet commented on #68
**Step 1:** getting all the existing tests passing.   I've submitted a PR for that: https://github.com/chaijs/chai-http/pull/69

[2016-02-01 05:28] BigstickCarpet commented on #68
*Step 2:* browser support.  Done.  :)

[2016-02-02 01:45] wreckah commented on #36
@James1x0 It was fixed in chai-http 2.0.1!

[2016-02-02 02:36] James1x0 commented on #36
@wreckah sweet! Thanks for the heads up

[2016-02-02 09:17] keithamus commented on #36
@James1x0 could you confirm that 2.0.1 fixes this? And then i can gleefully close this issue :smile:

[2016-02-07 15:04] motiz88 opened #75 "Can't test expected error responses because superagent throws"
Consider the following Mocha test (written in ES7 `async/await` style which is syntactic sugar for Promises):

[code]

If the endpoint returns a 404, the response promise gets rejected with an `Error` originating in superagent's response handler, and the test fails before reaching the status assertion. Other 4xx/5xx status codes similarly cannot be tested for in this way. I think this is surprisin

[2016-02-07 18:34] keithamus commented on #75
Hey @motiz88 thanks for the issue.

It's a great point - but I think SuperTest is doing the right thing here, I also think Chai-HTTP is doing the right thing here. I think the problem might lie with Chai; any Promise which rejects will throw in async, and not every rejecting Promise is catastrophic enough for a test to fail.

Do you fancy raising this issue upstream in chai? We can look at potenti

[2016-02-07 19:41] motiz88 commented on #75
I very respectfully disagree :)

Promise rejection is to async control flow as throwing exceptions is to sync control flow. The same way any exception will by default fail a test (unless guarded against, wrapped in a `should.throw` block, etc), any rejected promise (that's returned / awaited upon) should most definitely fail a test in any sane async-capable framework.  This is a matter of JS seman

[2016-02-07 19:44] motiz88 commented on #75
More concisely, Chai-HTTP is basically doing my `assert`s for me, it's doing them wrong (because it doesn't know what I'm testing) and I can't opt out this behavior. You've got to see why I consider this nothing but broken.

[2016-02-07 23:27] keithamus commented on #75
Sorry @motiz88 I probably summarised too much with me above comment, here's a more elaborate answer:

Chai-HTTP simply exposes SuperTest's API but using Chai compatible assertions. SuperTest implements SuperAgent, with extra test utility. SuperAgent returns a callback with errors for `status >= 200`, SuperTest and Chai just pass a long what SuperAgent tells them.

What I'm saying is - you're not w

[2016-02-08 11:24] motiz88 commented on #75
My actual workaround is along the lines of:
[code]

Anything else (e.g. your suggestion in 6) quickly becomes non-semantic, more fragile and less readable. Imagine testing for a specific status code (my initial use case) - would you ever use `to.be.rejectedWith(/Not Found/)` over `.to.have.status(404)`? And what if I need to test the response body (and I do, in fact), which gets completely lost in

[2016-02-08 11:39] keithamus commented on #75
Could you explain in more detail what you hope to achieve here? Bear in mind that the only Promise logic chai-http currently has is `function (err, response) { if (err) { return reject(err); } resolve(response); }`.

If you plan to take `err` and detect what kind of error it is, this could be done in userland, right? To wit:

[code]

[2016-02-08 11:52] motiz88 commented on #75
Actually, I'd do
[code]
in that handler. Which [appears](https://visionmedia.github.io/superagent/#error-handling) to be in line with SuperAgent's public API ("opinionated" response-based errors will have `.response` and `.status` set; anything else won't).

Yes, it could be done this way in userland. But the goal of writing clear test cases with minimal boilerplate takes a hit. My suggestion (and

[2016-02-08 11:53] motiz88 commented on #75
And, at least in this dev's experience, the current behavior violates the principle of least surprise.

[2016-02-08 11:54] keithamus commented on #75
how would you do this though? That's the bit I'm not following.

[2016-02-08 12:17] motiz88 commented on #75
Well, assuming this functionality is desired, there are some questions of scope/consistency, then style and bikeshedding. Here are the main ones in my view.

1. Do we only add this option to the promise code path?
  -  Pro: Simple to implement (particularly if all promise-generating calls go through `Test.prototype.then` at some point).
  - Con: Inconsistency between `.then/.catch` and `.end`.
  -

[2016-02-08 12:19] motiz88 commented on #75
Right now I like `chai.use` better than the per-call-site approach.

[2016-02-08 12:40] keithamus commented on #75
It's not really Promises that are the problem here, its the way `end` provides error/response values. If we were to change a particular behaviour it'd be better coming from the root cause, which is .end(). Perhaps a flag like `badStatusCausesError` which defaults to `true`.

I think I'd prefer to see the behaviour at a call site level, as globally it could be a bit of a footgun.

Before we impleme

[2016-02-17 00:47] reesew opened #76 "header regex not working"
I'm having trouble with the regex functionality of the header expectations. It seems to fail no matter what.

`expect(res).to.have.header('content-type', /json/);`
and even
`expect(res).to.have.header('content-type', /.*/);`

`Uncaught AssertionError: expected header 'content-type' to have value /.*/ but got 'application/api-problem+json; charset=utf-8'`

Am I missing something?

[2016-02-22 11:44] navinSing opened #77 "chai http post not working"
http post to both internal and external service is failing .. with mocha, chai, chai-http

NOTE : successfully able to get the response with curl.
 `curl -H "Content-Type: application/json" -X POST -d '{"y":"heartbeat"}' http://localhost:3500/hb`

http server code :
[code]

test code
[code]

mocha output
[code]

[2016-02-22 11:55] keithamus commented on #77
Hey @navinSing thanks for the issue.

Firstly, you'll probably have an easier time if you return the `chai.request()` chain as part of the mocha test - and omit the `done()` callbacks, for example, these two snippets of code do the same thing:

[code]

[code]

Secondly, I'm not sure where the error `Max retries reached, transport in silent mode` comes from - but it doesn't look like an error from

[2016-02-22 11:55] #77 closed

[2016-02-23 09:46] Limess commented on #43
I'm also having issues this when trying to use `chai-http` in combination with `supertest`.

This assertion is failing: `expect(response).to.have.cookie('some_cookie');`.

Here is a subset of my `response` object showing just headers (with names changed from real values).

[code]
I'm using version `2.0.1` of `chai-http`.

[2016-02-23 10:26] keithamus commented on #43
Thanks for the issue @arnaugm. Could you please provide the same info @Limess has - to help us diagnose this problem?

@Limess - in your case, it looks as though because you have set the `Domain` value of your cookie (`Domain=.someurl.co.uk;`) that the default settings chai-http uses wont be able to access it. On [http.js#L346](https://github.com/chaijs/chai-http/blob/master/lib/http.js#L346) we s

[2016-02-23 16:55] arnaugm commented on #43
Sorry @keithamus I don't have access to that code any more, it was long ago. I'll let you know if I face the problem again.

[2016-02-23 17:03] keithamus commented on #43
Ah yes I see now, sorry I don't know how I missed your original comment - I only just got a notification from @Limess' comment.

It was likely a similar problem, it seems like `new Cookie.CookieAccessInfo()` is actually quite fragile and would ignore a lot of cookies with various extra settings.

[2016-03-11 06:24] sambostock opened #79 "Add `done` to documentation"
# TL;DR:

Documentation doesn't mention the **required** use of `done`:

[code]

----

## Details

**Nowhere in the documentation or examples do you mention the use of `done` when writing tests.**  In retrospect, it is obvious that it should be called in asynchronous test, but as a new user, not knowing this (and not seeing it in the documentation) was a huge pain.  Tests using `chai-http` without

[2016-03-11 09:28] keithamus commented on #79
Thanks for the issue @sambostock. Do you want to make a pull request for the docs for this?

[2016-03-26 10:11] rvnath opened #84 "How to properly test for HTTP failure responses"
I am trying to test a condition wherein the API returns 500 (internal server error).  I am doing the expect assertion in the catch block like this:

[code]

The problem with this is, it gets stuck at the expect line and doesn't come out until test framework times out.  I can see that the console.log line gets printed correctly without consuming time, but expect invocation doesn't finish.

 What am

[2016-04-10 13:49] deepakmani opened #85 "Login using Passport not working occasionally"
We use mocha, chai and chaiHttp to spin up a express server and make post and get calls.

When running the server and logging in inside of our test (on codeship) using ChaiHttp, We get req.user = undefined occasionally.

For the most of the logins we get successful deSerialization and all show that the users details are serialized into the session after logging in.

[code]
Express App is configure

[2016-04-29 12:19] Doogiemuc opened #86 "HTTP POST with form fields not working"
see http://stackoverflow.com/a/36938187/6113110

It seems that simply the chai-http documentation is wrong. It sais:

[code]

Which does NOT work. This worked for me:

[code]

[2016-05-14 18:16] farmisen opened #91 "'npm run posttest' fails when COVERALLS_REPO_TOKEN is unset"
[code]

seems like the bash test for COVERALLS_REPO_TOKEN presence is backward.

[2016-05-14 19:18] farmisen commented on #75
@keithamus, did you have any chance to discuss this with SuperAgent? Found this issue after struggling myself while trying to test response failures and I felt the default behavior was counter intuitive. I did fork and implemented your last suggestion to move forward w/ my tests and I am going to submit a PR for at least re-initiate this discussion. thanks!

[2016-05-15 21:59] keithamus commented on #75
Hey @farmisen - sorry I have not had the time to raise this issue with SuperAgent. I've had a look at your PR and while it looks good at first glance, I think my comment still stands, we should raise this with SuperAgent before continuing. Would you like to raise it in the SuperAgent issue tracker?

[2016-05-16 08:51] C00bra commented on #86
I can confirm. I tried everything, but could not make .field() work. I could post data only with .send().

[2016-05-16 09:31] keithamus commented on #86
Hey @Doogiemuc thanks for the issue. Thanks @C00bra for confirming

Do either of you have the time to work on a PR fixing the documentation? Contributors get a permanent place in our [hall of fame](https://github.com/chaijs/chai-http/graphs/contributors).

[2016-05-23 20:49] mvanlonden commented on #75
@keithamus this seems to be the responsibility of chai-http. It would be helpful if you accepted @farmisen 's PR :)

[2016-06-03 07:09] stellanhaglund opened #98 "does the request store the cookie?"
Hi, I'm just wondering if the cookie is stored in some way if the header is set-cookie.

I'm writing some tests and after the login I want to do the rest on websockets where I would like to get the cookie on the upgradeReq, but I can't seem to find it.

[2016-06-03 09:20] keithamus commented on #98
Hey @stellanhaglund thanks for the issue.

You need to use the Agent feature which will act like a single user revisiting the site, storing and sending back cookies. There is a [section about it in the readme](https://github.com/chaijs/chai-http#retaining-cookies-with-each-request). To quote:

// Log in
var agent = chai.request.agent(app)
agent
  .post('/session')
  .send({ username: 'me', passwor

[2016-06-03 09:20] keithamus commented on #98
I'll close this for now. Hopefully the above answers your question. If not let me know and we can discuss it further.

[2016-06-03 09:20] #98 closed

[2016-06-10 10:13] keithamus commented on #68
@BigstickCarpet this one can be closed right? I'm going to close it for now, LMK if it needs re-opening 😄

[2016-06-10 10:13] #68 closed

[2016-06-10 11:18] #54 closed

[2016-06-10 13:16] BigstickCarpet commented on #68
Yep.  sorry, I should have closed it months ago

[2016-06-10 14:34] #79 closed

[2016-06-10 14:36] keithamus commented on #76
@reesew sorry it has taken so long to get back to you on this. Are you still experiencing this issue? I've been using this today and it is "working fine for me"™ but I'd like to make sure its working well for you. Do you have a complete code example of this failing?

[2016-06-10 14:38] keithamus commented on #29
Hey @adborden - as this issue is over a year old, I think I'm going to close it. If you have the issue again, or want to comment more - please do so and I can reopen the issue.

[2016-06-10 14:38] #29 closed

[2016-06-10 14:39] keithamus commented on #26
Hey @nfreear did you get anywhere with this?

[2016-06-10 14:40] keithamus commented on #36
As this is a year old, and @wreckah confirmed it is working, I'm just going to go ahead and close this. If anyone is still experiencing this issue please let me know and we can re-open it.

[2016-06-10 14:40] #36 closed

[2016-06-10 14:41] keithamus commented on #39
@dstroot sorry for taking so long to get back to you - are you still having this issue? `.end` comes straight from SuperAgent so the API should be the same.

I'm going to close this issue for now, for bookkeeping - but if you are still having this issue let me know and I'll re-open it right away 😄

[2016-06-10 14:41] #39 closed

[2016-06-14 00:02] reesew commented on #76
i don't. i originally had this problem before updating superagent manually, but it appears to have been fixed in the latest version, maybe because of PR #99

[2016-06-14 00:02] #76 closed

[2016-06-23 08:50] bumpy1 opened #101 "Can't use promise libraries"
According to the documentation I should be able to use the following code to use a custom promise library for older node environments:

[code]

But when I try it I get the following error: "Object has no method 'addPromises'".

[2016-06-23 08:52] keithamus commented on #101
Hey @bumpy1 thanks for the issue.

`addPromise` was removed in `3.0.0` - it now defaults to the global Promise implementation. I shall update the docs to this effect.

[2016-06-23 09:05] #101 closed

[2016-06-27 21:38] BWBuchanan7 opened #103 "POST"
This is a bit of a wall of text, but please bear with me:

Here is a POST attempt formatted using an entirely different toolchain for testing:

[code]

And here is a POST attempt using Chai and Chai-HTTP:

[code]

Notice the difference in CONTENT_TYPE in particular (I think this is the source of my problem) where my previous tools would submit the POST using the 'application/x-www-form-urlencoded'

[2016-06-27 21:41] keithamus commented on #103
Hey @BWBuchanan7 thanks for the issue.

You'd have much more success posting your question to Stack Overflow - https://stackoverflow.com/. It's a great resource full of knowledgable people who will happily take the time you help you with this. This issue tracker, however, is only monitored by less than a handful of people whose time is stretched thin.

I'm going to close this issue - because its n

[2016-06-27 21:41] #103 closed

[2016-06-28 14:33] BWBuchanan7 commented on #103
Thanks keithamus, and my apologies for using the wrong medium for this question.

Should anyone else stumble across this issue in the future I have posted this question to Stack Overflow [here](http://stackoverflow.com/questions/38078569/seem-to-have-the-wrong-content-type-when-posting-with-chai-http).

[2016-06-28 22:21] meeber commented on #103
@BWBuchanan7 That's just [super-agent](http://visionmedia.github.io/superagent/) (the http request library powering chai-http) auto-detecting the Content Type based on what kind of data you put in `.send`.

Your options:

1. As you noted in your SO reply, override the auto-detection by directly setting the header:

[code]

1. Use the `.type` method:

[code]

1. Use strings in `.send` instead of an

[2016-06-29 14:25] BWBuchanan7 commented on #103
@meeber Thank you very much for the clarification!

I actually just thought I'd experiment a little bit when I used .set() for the content-type and was quite surprised to learn that it worked to be honest. Having worked this out (and in particular finding out how much control I have over the requests I'm making) I think I'll be going forward with using Chai and Chai-Http for my team's testing.

If

[2016-07-07 09:19] jkryl opened #104 "Unable to test response status codes with 3.0.0 version"
This fix renamed property in http response object from "statusCode" to "status": https://github.com/chaijs/chai-http/commit/1c5194f721d8bb1647f5f8162ff6dba7c5be4f9c.

It broke my tests which run with restify client and node version 4.4.0. And even the documentation for latest node version (6.x) says that the name of the property in response object should be "statusCode" (https://nodejs.org/api/htt

[2016-07-07 09:28] keithamus commented on #104
Hey @jkryl - thanks for the issue.

I think we got to here because SuperAgent - the underlying library we use, supports `status` ([see here](https://github.com/visionmedia/superagent/blob/b47a0112bc5d789e496f3f709a395125bf8537d7/lib/node/response.js#L173)). So it works fine for responses from SuperAgent.

We should have standard http responses still work, so I suggest we alter [the `status` assert

[2016-07-13 14:07] keithamus commented on #43
Hey all, I'm marking this as PR wanted, as https://github.com/bmeck/node-cookiejar/issues/24 has been fixed and we're using 2.1.0 of cookiejar, so we can fix this issue.

It should be a case of changing [http.js#L346](https://github.com/chaijs/chai-http/blob/63bfa762b44a39d9fe6a6da3b75a201968d27c3b/lib/http.js#L346) from

[code]

to

[code]

and then of course, adding tests in our [test/http.js](h

[2016-08-22 07:12] coolnixy opened #111 "Attach file gives 400 bad request"
var file_path = '../data/invalid.csv';

chai.request(config.baseUrl)
            .put(url)
            .set('Accept', 'application/json')
            .set('Content-Type', 'customHeader')
            .attach('file', fs.readFileSync(file_path))
            .end(function (err, res) {
        res.should.have.status(500);
                done();
            });

I am expecting a 500 response (not here

[2016-08-22 10:02] keithamus commented on #111
Hey @coolnixy thanks for the issue.

I believe the problem you're seeing is because `attach` ([see SuperAgent source](https://github.com/visionmedia/superagent/blob/master/lib/node/index.js#L154-L189)) uses [FormData](https://github.com/form-data/form-data) - this module changes the `Content-Type` header. I think you might find that by the time your request is made, the `Content-Type` header is no

[2016-08-22 23:28] coolnixy commented on #111
Thanks @keithamus  for your response. I tried your suggestion, but didn't work for me :( Any other way I can get this working?

[2016-08-23 09:54] keithamus commented on #111
@coolnixy could you please provide more information, or perhaps write a reduced test case?

If you `console.log(res)` what comes back?

[2016-08-23 23:11] coolnixy commented on #111
@keithamus  Thanks for responding.. I am getting message "The request is invalid" in result. What you mentioned on your first comment is correct. The custom header is not passed. Is there a way we can attach the file as binary and let the custom header be there?

[2016-08-24 09:14] keithamus commented on #111
@coolnixy can you please provide the full output of res - I'm interested in seeing what the initial request headers were (which are attached to the res object).

[2016-08-25 01:15] coolnixy commented on #111
@keithamus here is the full output..

  Upload claims tests
Response {
  domain: null,
  _events: {},
  _eventsCount: 0,
  _maxListeners: undefined,
  res:
   IncomingMessage {
     _readableState:
      ReadableState {
        objectMode: false,
        highWaterMark: 16384,
        buffer: [],
        length: 0,
        pipes: null,
        pipesCount: 0,
        flowing: true,
        ended: tr

[2016-08-25 16:09] keithamus commented on #111
@coolnixy yeah see it is changing the request header's content type to `content-type: multipart/form-data; boundary=--------------------------276293373713535782110304`.

The way to fix that should be overriding the header after `attach()` runs. If that doesn't work then I'm not sure how much more I can help I'm afraid.

[2016-08-25 19:10] FreakinaBox opened #112 "disable following redirects"
I am testing a redirect with
[code]
Everything works however when I inspect res I see that it followed all the redirects (3 in all).
This is timing out the test sometimes. We need an option to disable following redirects.

[2016-08-25 21:19] keithamus commented on #112
Hey @FreakinaBox thanks for the issue.

There's a really easy way to disable redirects already: just add `.redirects(0)`. Of course this will make the Promise fail, so you need to counteract that. Something like this will work:

[code]

Hopefully this helps @FreakinaBox. Let me know how it goes. For now I'm going to close this issue, but we can re-open it if you're still experiencing the same prob

[2016-08-25 21:19] #112 closed

[2016-08-26 03:49] coolnixy commented on #111
Thanks @keithamus . I will try to override the header and see if it works. Will update you, if it works!! Thanks for your help thus far!. Appreciated.

[2016-08-31 15:59] FreakinaBox commented on #112
This seems like a hack instead of a planned way for things to work. I still think that we should be able to disable following redirects. With that said this did work for me
[code]

[2016-08-31 16:35] FreakinaBox commented on #112
correction, my second test case is failing.
[code]
when I inspect the response i see that the cookie is set and the redirect is sent.
the first expect throws `TypeError: Cannot read property 'value' of undefined`
the second expect throws `AssertionError: redirect: expected header 'location' to have value / but got undefined`

I am guessing that this is do to an error res having a different structu

[2016-08-31 22:19] keithamus commented on #112
`res`, in your case is an `error` object, not the response you're looking for. What you want is `err.response`, e.g.:

[code]

Or you could get a bit funky and use destructuring...

[code]

[2016-09-07 15:21] FreakinaBox commented on #112
didn't know that you could do that destructuring trick. thought I checked .response though. I will check again.

[2016-09-07 15:48] FreakinaBox commented on #112
working, thanks

[2016-09-07 20:28] lsimmons2 opened #113 "Question: adding express-session user property to chai-http request?"
Is there a way to add or manipulate properties of the `req` object in chai-http requests?

I want to test my API which uses express-session and authenticates any request based on the presence of the req.session.user object, as shown below:

    app.use(function(req, res, next) {
      if (req.session.user) {
      console.log('Authenticated request\n');
      next();
      } else {
        console

[2016-09-07 20:41] keithamus commented on #113
Hey @lsimmons2 thanks for the issue.

You'd have much more success posting your question to Stack Overflow - https://stackoverflow.com/. It's a great resource full of knowledgable people who will happily take the time you help you with this. This issue tracker, however, is only monitored by less than a handful of people whose time is stretched thin.

Having said that, express-session really just m

[2016-09-07 20:41] #113 closed

[2016-09-07 21:03] lsimmons2 commented on #113
OK thanks for the help!

[2016-09-15 14:29] zephod commented on #75
I'm trying to pick up the thread of this discussion, where using chai-http has also violated my own principle of least surprise and I'm confused as to how I should proceed.

I think the crux is that HTTP 4xx are _client errors_, whereas HTTP 5xx are _server errors_. When I'm testing a server with chai-http, I want to check that the server responds correctly to a misbehaving client.

SuperAgent's g

[2016-09-22 10:57] castarco opened #115 "Status codes different than 2xx shouldn't be trated as Promise rejections"
Since Chai-Http is a testing utility, it shouldn't make the assumption that not 2xx responses are errors, because maybe (and probably) we're expecting status codes in the 4xx range (or in other ranges).

At this time, I have place a catch before the "then" call because the "then" method isn't triggered, and the last "catch" is triggered, making fail the test.

Example:

[code]

without the first c

[2016-09-22 14:45] nicowernli opened #116 "can't install chai-http"
Hi, I'm trying to install chai-http in an ubuntu 16.04 machine, but once I execute
`npm install chai-http --save-dev`

I get the following error:
[code]

Do I need some special package in order to install chai-http?
Thanks in advanced

[2016-09-22 15:06] meeber commented on #116
@nicowernli Looks like there's something wrong with the `methods` package (which is a dependency of chai-http) in your npm cache folder. However, the package hasn't been updated in 8 months, and I don't see anything relevant in the issue tracker, so I wonder if it's just a local caching issue on your system. Before digging any deeper, I'd say try cleaning the cache: `npm cache clean`

[2016-09-22 15:10] nicowernli commented on #116
@meeber thank you very much for your help, cleaning the local cache was the solution, it is weird cause is a brand new vagrant machine and didn't install much with npm, but you solution worked fine.

[2016-09-22 15:10] #116 closed

[2016-09-23 08:54] keithamus commented on #75
FYI it looks like https://github.com/visionmedia/superagent/issues/1069, when implemented, might be the solution we're after.

[2016-09-23 09:45] keithamus commented on #115
Hey @castarco thanks for the issue. This is a dupe of #75 so let's continue the discussion there!

[2016-09-23 09:45] #115 closed

[2016-09-24 03:50] pingzh commented on #98
@keithamus Thanks for your info. But do you know a way to test the cookie value and its expiration date? thanks.

[2016-10-07 20:32] gustavoisensee opened #117 "Where is the lib-cov/http"
Hi,

I was doing automatization tests with karma, phantom on gitlab and my tests didn't pass.
So I've received the message saying:

so, firstly I'm sorry, I'm new with chai-http but I I haven't found anything in the documentation about lib-cov, could you explain me what is it and how is it works?

[2016-10-10 19:45] atom-morgan commented on #84
I'm also seeing this behavior. I can chain with `then` just fine and test successful responses but the second I need to test a failure with `catch` my response behaves a bit differently.

In my API my response is `return res.status(404).json({ error: 'User could not be found' });`

If I use chai-http's `end`, I can test the failure successfully like this:

[code]

But when I switch to chai-http's

[2016-10-10 19:48] keithamus commented on #84
Thanks for the issue @rvnath. This looks a lot like a dupe of #75. If we could continue the discussion there that'd be great. I'll close this one.

[2016-10-10 19:48] #84 closed

[2016-10-26 16:52] leggsimon commented on #43
I'm having a look at fixing this issue but I'm not 100% sure I understand how the issue is caused. Is it due to the fact that there are spaces in the cookie string? eg . `some_cookie=defgh-abcde; Domain=.someurl.co.uk;` as it is now it doesn't seem as though it would pick up the `Domain` cookie value.

So in the tests I've changed
[code]
to
[code]
and am working on the assumption that I should be

[2016-10-26 18:08] keithamus commented on #43
@leggsimon the issue is that a cookie like this:

[code]

Which has a domain (`.someurl.co.uk`) cannot be read currently, because CookieJar's API expects us to pass in an access info with a matching domain, so currently the code does this:

[code]

`CookieAccessInfo()` is domainless, and cannot read cookies with a domain. So trying to read a cookie with a domain gets ignored. If we had this code i

[2016-10-26 18:54] leggsimon commented on #43
Riiiiight ok. Thanks @keithamus I think I need to have a look into and understand  `Domain` In a cookie. I'll get back to it.

[2016-10-27 20:29] jonniedarko opened #119 "Documentation on Promises is not clear enough OR a better Error message is required"
It may seem obvious to others but I spent a while trying to figure out promises because they are not compatible with `done`

my original test looked like this:
[code]

but I kept getting the error
[code]

When I removed the done, the test passed

[code]

[2016-10-27 20:46] jonniedarko commented on #119
This Appears to not be the case, looks like something else is going on

[2016-10-27 20:46] #119 closed

[2016-11-03 16:42] jameswlane commented on #26
Instead of opening a new issue I am just commenting on here.

I would really love to see XML support for plugin. Started working on a new project and I thought this `chai-http` would be perfect for testing the API, but it's in XML.

I would love to help contribute to get XML support if needed.

[2016-11-09 13:01] Bhavin305 opened #124 "It's not working with response - Promises."
I have tried with q and es6-promise...in get method getting UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: res.send is not a function and i am able to console the response in express server just before res.json line.

[2016-11-09 14:27] meeber commented on #124
@Bhavin305 Can you reproduce the issue in a small repo for us to see? We don't currently have enough information to help troubleshoot.

[2016-11-09 22:03] ajmas opened #125 "JSON request with file upload?"
Is it possible to upload json data and and attach a file at the same time?

The code I am looking at is:

[code]

When I do this I only get the file. Commenting out the 'attach' line gets be the name and description, but then I don't have the file.

The server side is being handled by express and express-fileupload:

[code]

[2016-11-10 22:31] ajmas opened #126 "Testing file download, res.files returns empty object"
Originally asked here: http://stackoverflow.com/questions/40517088/using-mocha-chai-to-ensure-rest-api-serves-up-a-file/

I am wanting to download the response file in a test, but the req.files value is an empty object. Displays as ``{}`` when displayed with console. The [superagent](https://visionmedia.github.io/superagent/) docs suggest that ``res.files`` should provide a file.

Note the endpoin

[2016-11-10 23:29] meeber commented on #126
Not sure about the `file` property in this case since that's for multipart.

Dunno if there's a better way but looks like this is relevant: http://stackoverflow.com/questions/13573315/read-response-output-buffer-stream-with-supertest-superagent-on-node-js-server

Using the strategy in that article, I was able to test the md5 of some random pdf on the internets:

[code]

[2016-11-11 00:00] meeber commented on #125
As far as I can tell from the SuperAgent docs, `.send` and `.attach` aren't compatible. When sending a multipart request I think you have to specify each field individually using `field` instead of providing a JSON object using `.send`. Example:

[code]

[2016-11-11 00:06] ajmas commented on #125
Sounds fair.  I won't being JSON and file at the same time, but that appears like it is limitation I need to deal with due to limitations of other APIs.

For anyone else, this stackoverflow question, suggests that doing JSON+file in one request is probably not the way to go:

http://stackoverflow.com/questions/4083702/posting-a-file-and-data-to-restful-webservice-as-json

[2016-11-11 00:06] #125 closed

[2016-11-11 00:17] ajmas commented on #126
Thanks. I have updated the question on stackoverflow, based on your solution.

[2016-11-11 00:17] #126 closed

[2016-11-16 23:07] leggsimon commented on #43
Apologies for the delay in getting to this, but a quick update: It seems as though it isn't as straightforward as your suggestion @keithamus.
I would like to go through the problems I'm facing with one of you when you get a chance though although I'm not sure if this is the best place to do it. Are any of you on Gitter at all or some chat thing? (Keith do you still have access to our Slack?)

[2016-11-16 23:35] keithamus commented on #43
@leggsimon I have been banished from the FT Slack, exiled to a far away land. I hang out on the official Chai [![Slack chat](https://img.shields.io/badge/slack-join%20chat-E2206F.svg?style=flat-square)](https://chai-slack.herokuapp.com/) and [![Gitter chat](https://img.shields.io/badge/gitter-join%20chat-D0104D.svg?style=flat-square)](https://gitter.im/chaijs/chai) though. Feel free to DM on eithe

[2016-11-28 14:39] #43 closed

[2016-12-12 21:56] richardpringle commented on #75
If [SuperTest](https://github.com/visionmedia/supertest) uses [SuperAgent](https://github.com/visionmedia/superagent)'s api in such a way that the final test callback does not receive an error, `chai-http` should do the same.

I can intuitively use SuperTest without knowing much (if anything) about SuperAgent. The case should be the same for chai-http.

[2016-12-15 14:41] keithamus commented on #75
https://github.com/visionmedia/superagent/issues/1069 has been fixed and released as `v3.3.0`, so this is now ready to be fixed.

---

### The change:

We need to use `.ok` for each of the methods inside chai-http, to ensure that bad status codes still return a resolving promise. By calling `.ok` with a function returning true, all requests will resolve. This issue will be fixed.

### Who can make

[2016-12-15 14:48] oluoluoxenfree commented on #75
Hi, would it be okay if did this one?

[2016-12-15 15:20] richardpringle commented on #75
sorry @oluoluoxenfree, I didn't see your comment.

[2016-12-15 23:32] meeber commented on #124
@Bhavin305 Closing this due to lack of information. Please feel welcome to reopen it if you have a standalone example to share that demonstrates the problem.

[2016-12-15 23:32] #124 closed

[2016-12-15 23:41] meeber commented on #117
@gustavoisensee Sorry for the delay. It looks like to me that [these lines](https://github.com/chaijs/chai-http/blob/d34ae40fa3336a4d2d5ee1405082922575124b22/index.js#L1-L3) are the relics of some old build process that's no longer in place, and should be changed to `module.exports = require('./lib/http');`.

Thoughts @keithamus?

[2016-12-15 23:43] meeber commented on #104
Resolved by #123

[2016-12-15 23:43] #104 closed

[2016-12-15 23:43] meeber commented on #111
@coolnixy Gonna close this issue due to no updates in a few months. Please feel welcome to reopen it if there's still an issue!

[2016-12-15 23:43] #111 closed

[2016-12-16 09:21] keithamus commented on #75
@oluoluoxenfree sorry you missed out there. With our next issue which can be resolved with a PR, you will get first refusal to solve it. I'm also going to work on some guidelines to ratify all of this.

@richardpringle thanks very much for the awesome work - next time before working on the PR if you would so kindly announce in the issue comments, that'd be swell. 👍 😄

[2016-12-16 09:31] keithamus commented on #117
Yes I think we could do with a bit of an overhaul of the build process. We're using istanbul now which doesn't require this, AFAIK.

Let's change this to PR-wanted, and easy fix:

---

### The change:

We need drop the `require('./lib-cov/http')` call in [index.js](https://github.com/chaijs/chai-http/blob/d34ae40fa3336a4d2d5ee1405082922575124b22/index.js#L1-L3) as we're no longer using it as part

[2016-12-18 11:28] yashsriv opened #132 "Help with cookies"
I'm using the following code to test my passport js api:
[code]

Doing it manually via the command line gives me:
[code]

The `username === admin` test passes but the cookie one does not... and when I comment out the cookie one, the the subsequent get request also fails (I think because of cookies not being maintained).

Can anyone tell me what I'm doing wrong?

[2016-12-18 13:06] yashsriv commented on #132
I guess this was solved by #128 .. just not in the npm v3.0.0

[2016-12-18 13:06] #132 closed

[2016-12-18 21:12] yashsriv commented on #25
I'd like to work on this.

[2016-12-22 11:20] itaied246 opened #134 "Failing test throws an exception"
I'm using `chai-http` for testing my `express` server API.
When a test fails, I expect to see the cause and for the rest of the tests to continue, but instead I get an exception thrown, and the `done` function not even being called.

`  it('should create a user with password', done => {

    const mutation = `
    mutation createUserPassword {
      createUserPassword(email: "test@mail.com" name:

[2016-12-22 22:47] meeber commented on #134
When a test fails, an error is thrown, and the rest of the statements inside of the function will never execute. For example:

[code]

If you want each test to run even if the one before it fails, then each test needs to be inside of its own `it` block.

The problem is that your failing test occurs inside of a Promise. The Promise swallows the AssertionError, and thus it never gets reported to Moc

[2016-12-24 09:22] iamchathu opened #135 "How to test redirects"
How to test redirects.

I tried following

[code]

But It gives error

[code]

Route is set like below

[code]

[2016-12-24 22:13] itaied246 commented on #134
For the first question, I know that if some assertion fails then the following assertions won't execute.
But I in the problem I have described, probably not clear enough, the following `it` blocks didn't execute.

I really liked your second option with returning the promise to mocha. I adopted it and now my tests run as I expected.
Thanks!

[2016-12-24 22:13] #134 closed

[2016-12-27 19:06] bartw commented on #117
Hello,

I would like to do this minor fix.
I'll have pr ready soon.

[2016-12-30 12:34] vieiralucas commented on #135
Hello @iamchathu, thanks for your issue.
I assumed you're using express, so I tried to reproduce your problem with this following setup:

<img width="1680" alt="screen shot 2016-12-30 at 10 29 01 am" src="https://cloud.githubusercontent.com/assets/7764293/21565110/014297a2-ce7b-11e6-9b44-505b6fa49721.png">

Are you sure that you're not setting an handler specific to `/`?
Please let me know if I'm

[2016-12-30 16:10] iamchathu commented on #135
@vieiralucas Thanks for the support. It's not on a public repo. But I figured it was working with `/`. I will test it with `*` and update the issue.

[2017-01-11 13:19] wdullaer commented on #75
Any idea when this will be released to npm?

[2017-01-18 20:30] erbridge opened #140 "Strip localhost from redirects"
It would be very helpful to be able to test a redirect using something like this:

[code]

Without needing to construct `http://127.0.0.1:36851/login`.

[2017-01-18 22:27] keithamus commented on #140
@erbridge thanks for the issue. You probably want to instead check that `/` sets a 301/302 with a `Location` header, instead:

[code]

Let me know how you get on with this. I'll close this for now but we can keep the discussion going 😄

[2017-01-18 22:27] #140 closed

[2017-01-18 23:41] erbridge commented on #140
That seems to work, thanks. Though it's `err.response`, not `err.res`.

[2017-01-19 23:26] reesew opened #141 "response body empty for binary content-type"
I have a contract test where the response type is a binary file. In my test, the res.body property appears to be unpopulated, despite a body actually being returned.

[code]

In the above example, I expect res.body to contain the binary response body, but it looks like an empty object. If this is expected behavior, is there an option or parameter to set in order to inspect the response body?

[2017-01-19 23:32] george-norris-salesforce commented on #15
Same is true for POST?

[2017-01-19 23:47] meeber commented on #141
Is #126 applicable to your issue?

[2017-01-19 23:58] reesew commented on #141
@meeber yes, adding the `buffer()` and `parse()` lines to the chain caused `res.body` to be populated. Where are those functions even documented?

[2017-01-19 23:58] #141 closed

[2017-01-20 00:07] meeber commented on #141
chai-http is built on top of [superagent](http://visionmedia.github.io/superagent/), so anything in their docs should apply. Also just saw this: https://github.com/abelcha/superagent-binary-parser which seems to be taking a similar approach to the issue.

[2017-01-20 03:35] vieiralucas commented on #117
Fixed by #136

[2017-01-20 03:35] #117 closed

[2017-01-20 04:33] vieiralucas commented on #15
@george-norris-salesforce yeap

[2017-01-21 23:28] Falci opened #143 "Async loaded routes"
How to test an app that has routes created async?

[code]

[2017-01-25 23:29] edrpls commented on #143
I'm having this same question, I found that you can listen to specific events with superagent, but not so sure if it would work with chai-http too.

https://mrvautin.com/ensure-express-app-started-before-tests/

[2017-01-26 00:24] edrpls commented on #143
Update: Can confirm that emitting an event works, I had to modify the timeout too since my setup took longer than mocha expected:

[code]

[2017-01-26 00:47] Falci commented on #143
I believe the `app.listen` is called before app be ready, but I got your point. I guess this solution may work fine.

I'm using pleerock/routing-controllers to load the routes. I'll create a PR there to emit the event.

Thank you for your help 👍

[2017-01-26 12:31] sgronblo commented on #135
I hope you don't mind me hijacking this issue. It seems tricky to check what type of redirect was returned (eg. 301, 302, 303).

I was able to stop the redirect following by calling `.redirects(0)`. But unfortunately it seems chai-http considers a non-200 response as an error automatically, so you would have to over-complicate your test setup a bit. I guess the simplest improvement would be to add

[2017-01-26 22:30] keithamus commented on #135
This will be fixed very soon (fixed in master IIRC)

[2017-01-26 22:35] Falci commented on #143
My real problem was not the async call.
More details in the related ticket.

[2017-01-26 22:35] #143 closed

[2017-01-29 06:45] ZackWard opened #144 "Rebuild README.md"
Just checking in to see if it would be possible to rebuild README.md. Some documentation in the source files have been updated, but the GitHub page and the web page still reflect the old documentation.

Thank you in advance! 😃

[2017-01-29 06:46] ZackWard commented on #144
Also, rebuilding documentation may close #86 as well.

[2017-02-07 12:59] Arrow7000 opened #145 "How to get req object?"
In the documentation you show how it's possible to access cookies:

![image](https://cloud.githubusercontent.com/assets/13225609/22689416/de6a1ea4-ed28-11e6-83a3-295a8ce888b1.png)

But where do you actually get the `req` object from? This isn't explained anywhere in the documentation.

[2017-02-22 15:28] Mozar10 opened #146 "Testing a property on the res.locals object."
Consider this:

`router.get('/', function (req, res) {

        res.locals.authenticated = false;
        res.render('index');

});`

Testing this will result in a TypeError

`it('should respond with contents of the homepage', function (done) {

    chai.request(server).get('/').end(function (err, res) {
        expect(err).to.be.null;
        expect(res.status).to.equal(200);
        expect(res.l

[2017-03-03 11:02] alexey-pelykh commented on #117
When this will go to release?

[2017-03-04 21:39] BigstickCarpet opened #147 "HTTP 307 and 308 status codes are not treated as redirects"
Not sure if this is by design or not, but the `.redirect` and `.redirectTo` assertions currently [only test for 301, 302, and 303 status codes](https://github.com/chaijs/chai-http/blob/2ae97dd4b36df4e7b9f2089eaf7a491d65b96401/lib/http.js#L247).  Shouldn't this list also include HTTP 307 (Temporary redirect) and HTTP 308 (Permanent redirect)?

[2017-03-05 07:54] amitguptagwl opened #148 "cookie is undefined"
I'm not sure if this is the issue. But I'm getting "Cannot read property 'foo' of undefined".

[code]

However when I'm accessing the URL from postman or from browser then I'm getting cookies.

[2017-03-06 10:47] vieiralucas commented on #147
Hello @BigstickCarpet, thanks for your issue.

It seems reasonable to me that `chait-http` could support 307 and 308 on the `.redirect` and `.redirectTo` assertions.

It looks like you already now where to fix that, would you like to make a PR?

[2017-03-06 11:20] vieiralucas commented on #148
Hello @amitguptagwl, thanks for the issue

If you use chai to make your assertions, then you can use the `cookie` assertion to check for cookies

[code]

If you don't want to use chai for the assertions then you will need to parse the `set-cookie` header from `res.headers`
Your tests could look something like that:

[code]

[2017-03-06 11:23] #25 closed

[2017-03-06 11:37] amitguptagwl commented on #148
Thanks for your response.

If I do `expect(res).to.have.cookie('foo', 'bar'); `. It works but it returns true for `expect(res).to.have.cookie('amit', 'bar'); ` as well which is not expected.

[2017-03-06 11:50] amitguptagwl commented on #148
Never mind.. it worked. I had to use `require('chai').expect` instead of `require('chai-http').expect`. Thanks

[2017-03-06 12:17] #148 closed

[2017-03-07 02:21] joetidee opened #150 "TypeError: Cannot read property 'headers' of undefined"
I have this test file:

import React from 'react';
import { mount, shallow } from 'enzyme';
import chai from 'chai';
var expect = chai.expect;
var assert = chai.assert;
import chaiEnzyme from 'chai-enzyme';
import chaiHttp from 'chai-http';
chai.use(chaiEnzyme());
//chai.use(chaiHttp);

When I uncomment the line `chai.use(chaiHttp);` I get the following error:

[2017-03-07 04:31] vieiralucas commented on #150
Hello @joetidee I tried to reproduce your issue with those following steps:

1. `npm install --save-dev babel-core babel-preset-es2015 babel-preset-stage-0`
2. `npm install --save-dev mocha chai chai-http enzyme chai-enzyme react-addons-test-utils`
3. `npm install --save react react-dom`

Then I wrote your code in a `test.spec.js` file

[code]

I tried to just run it with `babel-node`
- `./node_mo

[2017-03-07 09:29] joetidee commented on #150
Thanks for your prompt reply. So, I am running an express server and also running tests using mocha-webpack. The entry point to my tests is a file that requires each test file. If I have two test files that use chai-http, then I get the aforementioned errors thrown, however, if I only include one test file I do not get any errors (!)

Have sent a link for the private repo to your email address.

[2017-03-07 11:33] vieiralucas commented on #150
@joetidee I could not really find the root cause of the problem.
But I think I managed to work around it.

You could add all your `chai.use` calls to the `test_index.js`
[code]

Doing it this way you will not need to call `chai.use(chaiHttp)` two times

[2017-03-07 11:54] joetidee commented on #150
This doesn't seem to work as I need the folowing in the individual test files and the error `chai is not defined` is being thrown:

[code]

[2017-03-07 12:44] vieiralucas commented on #150
You can still do
[code]
You just don't need to call `chai.use` anymore.

You could also do
[code]

[2017-03-07 12:52] joetidee commented on #150
ok, this works :) Many thanks.

Is the above error somethign that you will look to address?

[2017-03-07 15:38] BigstickCarpet commented on #147
Ok, I'll submit a PR when I get a free moment.  May not be for a few weeks though, because I'm about to leave for vacation

[2017-03-07 15:55] keithamus commented on #147
but the commit is right there! 😨

[2017-03-07 15:57] BigstickCarpet commented on #147
hahaha... gotta fork the repo, checkout, branch, commit, test, open a PR...  Ain't nobody got time for that!  😸

[2017-03-07 20:21] richardpringle opened #151 "Any plans for a new release soon?"
Are there any plans for new release soon, be it major, minor, or even a patch version?

[2017-03-07 20:24] vieiralucas commented on #151
@keithamus can you help here?

[2017-03-07 22:33] keithamus commented on #151
Plan to spend some time soon getting this inline with other packages like deep-eql, so releasing on semantic-release, following standardised way of doing things for chai. Right now all I have is "soon" 😄

[2017-03-09 11:29] vieiralucas commented on #150
@joetidee I'm not sure this is really a problem with `chai-http` it might be something wrong with `mocha-webpack` or something else you were doing.

So I'm gonna **close** this for now since we manage to solve your problem.

Feel free to open another issue if you manage to provide a more focused way of reproducing this.

Thanks

[2017-03-09 11:29] #150 closed

[2017-03-09 13:03] joetidee commented on #150
Ok, so just out of interst, what is this saying:

/tidee/au/node_modules/chai-http/lib/http.js:166
this._obj.headers || this._obj.getHeader
^
TypeError: Cannot read property 'headers' of undefined
at Assertion. (/tidee/au/node_modules/chai-http/lib/http.js:166:18)

[2017-03-10 18:44] JCornat opened #153 "TypeError: The header content contains invalid characters"
Hello !

I am facing an issue with `chai-http` in **3.0.0**, related to `superagent` package I think. It works with `chai-http` in **2.0.1**.

Here is the error on execution :

[code]

Here is my **test/test.ts file** :

[code]

The error happend when I import a specific file in my **main app.ts file** :

[code]

Here is **middleware/prototypes.ts file** :

[code]

If I remove prototypes.ts import

[2017-03-11 00:24] vieiralucas commented on #153
Hello @JCornat, thank you for this issue.

I manage to dig down into `superagent` and understand why you are getting this error.

So, this is happening because you are adding a property `.toArray` to **every object** of your program by adding it to the  `Object.prototype` (you should really strive to not do this).

Because **every object** will have this new `.toArray` property [this for in](https

[2017-03-11 00:48] JCornat commented on #153
Thank you @vieiralucas for the explanation !

Actually, I overload basic types' prototype **very occasionally**, (in this case it was to easily transform an object into an array), so I'm going to clean my code ! (Sadly, it was very convenient 😅)

[2017-03-11 00:48] #153 closed

[2017-03-11 02:10] vieiralucas commented on #153
@JCornat No problem, I'm happy to help

You could use utility library like [lodash](https://lodash.com/) for those kind of things
For this specific case there is  [_.values(youObj)](https://lodash.com/docs/4.17.4#values)

[2017-03-12 15:19] inancgumus commented on #75
@wdullaer You could install it by this commit without waiting for a npm release:

[code]

[2017-03-13 22:23] tonymet commented on #147
Added PR #154 with @BigstickCarpet 's change. Thanks all this was a blocker for us too :D

[2017-03-15 17:54] vieiralucas commented on #147
Closed by #154

[2017-03-15 17:54] #147 closed

[2017-03-21 17:13] rageshvr commented on #151
@keithamus I was about to message you in twitter to ask you this. How long the wait 😞 , is it soon or so soon?  There are a few merges that we are waiting for 😄

[2017-03-24 14:51] WORMSS commented on #64
I cannot say for sure what chai is meant to be doing but,
[code]
This is not how normal promises should work internally.
You would want just
[code]

[2017-03-30 01:00] spoonscen commented on #126
meeber you saved my life.

[2017-04-06 22:09] shannonmoeller commented on #75
A solution that works right now without a PR is to catch the error. The error object contains the response object so you can do this:

[code]

[2017-04-09 22:34] imkimchi opened #156 "[feature] async/await style of examples"
I was immigrating my codes to ES6 with async/await and I just started to use testing framework with chai. As I see some examples on the page, I found it that examples are written in old syntax.
It's been about 2 month since async/await feature came out to the Node world. I'd suggest to change example codes to async/await style rather than promise style code, and It seems like core codes are writte

[2017-04-10 13:26] vieiralucas commented on #156
Hello @imkimchi, thanks for your issue.

IMO we could add examples using the new `async/await` features of Node 7.

I don't think we should remove the old examples:

- `chai-http` still supports old versions of node that don't have support for `async/await`
- Users that know how to use `async/await` can easily translate from `Promises`, but the other way around may not be true.

[2017-04-14 06:16] fabianTMC opened #157 "Response bodies for anything other than a status 200 is coming back empty"
Hi,

I'm trying to test an API that returns an error message with different status codes when different things go wrong. The problem I have encountered is that when the API response is being set with a valid body such as `res.status(422).json({error: "Some message here"}).end();`, the response body still becomes `{}` and any test with the following pattern fails.

[code]

Is there anything I must

[2017-04-18 14:54] PhilippMi opened #158 "chai-http is interfering with chai-dom"
I created a little test to demonstrate the issue:
[code]
When I execute this code, everything works as expected and the test passes. But when I uncomment `chai.use(chaiHttp)`, I get the following error:
[code]

It seems like chai-http is interfering here with the chai-dom assertions.

I created a little repository where you can try my test code: https://github.com/PhilippMi/chai-http-dom-test

[2017-04-20 12:20] mattclark2500 opened #159 "Setting Authorization headers in tests"
I have a test that looks like this:

[code]
This route I'm testing requires a JWT to be passed in the request header. I'm using the [koa-jwt](https://www.npmjs.com/package/koa-jwt) module to handle this in my app. Testing this route with a REST client, and passing in the appropriate headers returns the expected result with a 200 status.

When I run my tests, however, all the tests on the protected

[2017-04-20 22:47] vieiralucas commented on #159
Hello @mattclark2500, thank you for your issue

I tried to reproduced your problem with the following code

Using `chai v3.5.0` and `chai-http v3.0.0`
[code]

If I run this code with mocha, It says that my tests pass.

It might be something wrong with your server when retrieving the `jsonwebtoken` from the `Authorization` header.
Can you provide a example public repo that reproduces the problem?

[2017-04-20 22:54] vieiralucas commented on #159
@mattclark2500 I also created an example on RunKit using `jsonwebtoken` but with `express`, since I'm not familiar with `koa`
You can visit it here: https://runkit.com/vieiralucas/chai-http-159

[2017-04-22 11:16] mattclark2500 commented on #159
@vieiralucas Many thanks for your support on this. Am afraid it was a bad case of user error, which should have been obvious to me much earlier. The JWT secret was set as an environment variable for my dev config, but wasn't set for my test config. I eventually found it when I delved into the koa-jwt module and found the error thrown was actually that the secret was missing. Now works wonderfully.

[2017-04-22 11:16] #159 closed

[2017-04-23 04:53] vieiralucas commented on #159
@mattclark2500, I'm glad you managed to figure it out!

You're welcome

[2017-04-27 03:33] s-taylor commented on #135
@sgronblo thanks for your explanation, this behaviour seems unintuitive to me.

Seems that by default chai-http follows redirect requests, was unclear to me why the status code comes back as 200. I guess it expects you to use the special redirect assertions but it'd be nicer to just be able to disable following redirect requests.

Also when you use the assertion `redirectTo` it expects you to asse

[2017-05-02 07:14] giper45 opened #161 "How Test if server is running at port 8080"
I'd like to test if localhost server is running at port 8080 before to start testing. Is there some function in order to do this?
Thanks in advance!

[2017-05-02 08:57] keithamus commented on #161
Hi @giper45 thanks for the issue.

If it is an `require('http').Server`, like express or connect then you can run `app.address().port` to get the running port.

That's all the support we can give you I'm afraid. You'd have much more success posting your question to Stack Overflow - https://stackoverflow.com/. It's a great resource full of knowledgable people who will happily take the time you help

[2017-05-02 08:57] #161 closed

[2017-05-05 03:04] dman777 opened #162 "Nock or equivalent to mock requests?"
Love chai-http requests....great stuff!

How can I mock requests with chai-http? I tried Nock but the real request still goes out:

mocha helper.js
[code]

-------------------------------------------------------

[code]

[2017-05-05 11:18] keithamus commented on #162
Hey @dman777 thanks for the issue.

Personally; I have nock working locally with chai.http - so it definitely works. If you're attempting to use nock to stub out the server - then it should match the server hostname and port. If you're passing an Express/Connect/HTTP server to `chai.request` then it'll boot it up on a random port (see here: https://github.com/chaijs/chai-http/blob/master/lib/reque

[2017-05-05 11:18] #162 closed

[2017-05-06 04:16] dman777 commented on #162
That was it.... I pass express server to `chai.request(app)` because it is the cleanest way to bounce with `mocha --watch` and not have a hanging connection.

I would like to say that this would be a critical feature to be able to control port for this use case.

[2017-05-08 03:45] dman777 commented on #86
I hit this issue also. I don't believe the documentation/README is updated with use `send({ obj: property})` instead of `.field()` for `POST`.

@keithamus  should there even be a .field() method for `PUT` on forms? I don't believe HTML forms support `PUT`.

[2017-05-08 08:52] keithamus commented on #162
You are welcome to chose the port - by not letting chai do it for you. Simply run `server.listen(7075)` before you call `chai.request(server)`.

[2017-05-11 19:51] oreporan commented on #75
I'm using async/await
Would just like to point out that to overcome this issue my test looks like this now:
[code]

Now if the request returns 200, it drops to the `expect(true).to.be.false` line, which **also** throws an exception, so now my test fails just because there is no `status` on the error...Not really insightful....

[2017-05-23 17:22] AmShaegar13 commented on #135
This is currently super ugly. Here is what I've got using TypeScript:

[code]
First, I have to cast the `chaiHttp.Request` to a `superagent.Request` to have the `.redirects` function available. Then I have to use `.redirects(0)` to disable redirects and catch the error of the suppressed redirect.

I would expect to not being redirected at all without disabling it explicitly and to being able to us

[2017-05-30 01:07] barraponto commented on #151
hey @keithamus if you want to hold a weekend task-force to work on chai-http and related projects, let us know :)

[2017-05-30 23:52] snoblenet opened #163 "Configuring chai-http to talk to mochawesome"
The `mochawesome` custom mochajs reporter lets you provide contextual information like [this](https://github.com/adamgruber/mochawesome#adding-test-context):

`addContext(this, 'http://www.url.com/pathname');`

I'd like to configure `chai-http` globally so that every request adds the full URL as context.

Is this possible? Thanks.

[2017-05-31 18:44] barraponto commented on #157
this is particularly curious on Redirects, which show status 200 but empty response.body :( :( :(

[2017-06-16 11:19] EvgenyOrekhov opened #164 "Add support for the "assert" interface"
Chai HTTP supports only the "expect" and "should" interfaces.
It would be great if it also supported the "assert" interface.

[2017-06-20 20:41] wzup opened #165 "Doesn't send body in PUT request"
No `body` in `req.body`. Neither of both sets `req.body`: `field` and `send`.
Why? What's wrong?

Set up:
[code]

And `req.body` is an empty object
[code]

[2017-06-20 20:57] wzup commented on #77
Same here. No body
https://github.com/chaijs/chai-http/issues/165

[2017-06-20 22:25] wzup commented on #86
Same issue here https://github.com/chaijs/chai-http/issues/165
Thanks a lot for not documenting it. I wasted 1 hour to understand that plugin's README is just a fantasy that has nothing to do with reality

[2017-06-20 23:17] meeber commented on #165
@wzup Check out https://github.com/chaijs/chai-http/pull/97#issuecomment-222397088 to see if it's related to your issue. I've never used this plugin personally and don't have time to dig in right now so it's hard for me to say for sure.

[2017-06-20 23:22] meeber commented on #86
@wzup As mentioned in the other thread, please check out https://github.com/chaijs/chai-http/pull/97#issuecomment-222397088; I think it may relate to the issue you're running into.

I get that you're frustrated but please understand that this is a 100% community-driven project that relies on people like yourself discovering issues or things that frustrate them and then submitting a PR to fix them

[2017-06-21 01:06] wzup commented on #165
Both methods do not work, `.field`, `.send`.

I also found that the plugin doesn't set headers.

I set:
[code]

I receive:
[code]

And on top of that, I get this when I run tests. Any test, every time:

This plugin creates more issues than it solves.

[2017-06-21 01:34] meeber commented on #165
chai-http is built on top of the [superagent](https://github.com/visionmedia/superagent) library. I believe the `.field` method is telling superagent that a multipart request is being performed; that's why your  header isn't being respected. I have no doubt that the documentation is wrong/outdated; the creator of this plugin hasn't been active in 4+ years. This plugin (and Chai in general) is 100%

[2017-06-21 01:40] wzup commented on #165
Here are approaches that work. The `req.body` is not received as an empty object.

1. https://github.com/chaijs/chai-http/pull/97#issuecomment-304751016

1. This is as a form data.
[code]
Many thanks to @barraponto. There is his answer here https://github.com/chaijs/chai-http/pull/97#issuecomment-304751016.

2. This is as `application/json`:
[code]

In both cases `.send()` is used. `.field()` does

[2017-06-21 01:44] #165 closed

[2017-06-21 02:13] wzup commented on #165
More [here](http://visionmedia.github.io/superagent/#-post-put-requests)

[2017-07-09 23:24] yipcma commented on #145
I'm curious as well. please if anyone found out please leave a note.

[2017-07-10 06:41] keithamus commented on #145
I believe the response object (`res`) should have the request object (`req`) attached to it:

[code]

If someone would like to confirm this and send a PR updating the docs, that'd be great!

[2017-07-10 09:24] jasperblues opened #168 "Attach file, also send body form data"
I need to attach a file, and also set a body field. How is this possible? Here's the equivalent RestAssured (Java/Kotlin) test:

[code]

[2017-07-10 09:55] yipcma commented on #145
I tried `res.req.body` and it returns `undefined`, wonder if the `body-parser` would work in the test.

[2017-07-10 10:43] keithamus commented on #145
@yipcma what are you expecting `res.req.body` to be? Do you have a reduced test case I could look at?

[2017-07-10 10:45] yipcma commented on #145
it's a text, and i have body-parser.text() as middle-ware in my express server. I'm expecting text.

[2017-07-27 16:56] Yitzi2 commented on #75
shannonmoeller, that's a good solution, though you probably want a then block too, so that if it does (incorrectly) return a "valid" status code, the test will fail rather than not running.

[2017-07-27 17:06] shannonmoeller commented on #75
@Yitzi2 Good call. I'll edit the example to include that.

[2017-07-28 12:55] shannonmoeller commented on #75
@oreporan You need to assert on the `error.response` property, not the `error` object itself:

[code]

[2017-07-28 13:43] aPoCoMiLogin commented on #75
Guys, just follow @inancgumus comment https://github.com/chaijs/chai-http/issues/75#issuecomment-285951489 since when this will got published, you will have to change your code. EOT

[2017-07-28 14:59] shannonmoeller commented on #75
@keithamus Given this is a breaking change, can we assume that chai-http will be getting a major version bump when this is released?

[2017-07-28 16:37] oreporan commented on #75
@shannonmoeller
But `expect.fail(null, null, 'Should not succeed.');` throws an exception. So There is no `status` on the exception.

[2017-08-08 18:06] curtis-n commented on #165
Just as a side note, I found that the reason my body parameters was empty was because I had called the appropriate middleware functions in the wrong order in the node.js express server.

For example, this left the body empty
[code]

And this filled the body parameters the correct way
[code]

[2017-08-08 18:43] barraponto commented on #165
@curtis-n I'd usually recommend against setting both json and urlencoded body parsers globally. The performance hit is minimal for running both by default, but I'd rather have my route defined as `app.post('/api/comments', jsonParser, (req, res) => {...})` just to let the parser explicit. I see no problems with router-wise middlewares though.

[2017-08-16 14:23] asimen1 opened #169 "Empty body response for XML."
[code gist](https://gist.github.com/asimen1/0456843afe28603299a86c5ffbecbb1d)

Running the above code does not parse the response.body XML correctly, returning an empty object.

[2017-08-16 15:20] keithamus commented on #169
Thanks for the isssue @asimen1

It looks like the URL you're fetching doesn't reply with a `Content-Type` header, and so there's no way to determine what type it is. Have a read of [the s3 docs](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html), or maybe [this stackoverflow answer](https://stackoverflow.com/questions/29643455/how-do-i-set-content-type-when-uploading-to-s3-with-aws

[2017-08-16 15:20] #169 closed

[2017-08-16 16:16] asimen1 commented on #169
Hi @keithamus, thanks for the quick response!

Your right, this URL did not have any content-type.
This is just a dummy URL I created for this issue, however I encountered the problem in our server response which does add the content-type header 'application/xml'.

I added now the header to the S3 URL response and still returnes an empty body.
You can test it again now...

Is there anything else I

[2017-08-16 16:34] cklanac commented on #75
This is the approach we use for testing 404's and other errors like authentication

[code]

[2017-08-17 09:06] keithamus commented on #169
You can see the [suppported types here](https://github.com/visionmedia/superagent/blob/4e21f1c509c3ee09ea4031c27855ed8e9ddc0d35/lib/client.js#L169-L176). `application/xml` is not in that list, so you'll have to manually add `type('xml')` or change the content type to `text/xml`. Alternatively, if you believe superagent should read `application/xml` you could raise a pull request with them - and we

[2017-08-22 16:17] xmaster484 opened #170 "All requests with chai-http and express turn into GET regardless of method used."
Hi everyone,
I was wondering if anyone else has experienced this bug, or knows why it might be happening.
I am currently setting up my testing framework for an Express server and I decided to go with Mocha/Chai/Chai-Http.

The server itself behaves normally, I can make requests with any of the method types and I receive the appropriate response.

However in my testing suite, all methods I use with

[2017-08-22 18:33] CharismaRise commented on #170
Just noticed the same issue, anyone has any thoughts?

[2017-08-22 21:42] CharismaRise commented on #170
It seems like this would be a case if you create both HTTP and HTTPS servers under Express and chai-http would pick HTTP by default. I am having the same issue where I pass in my Express instance with both servers but chai-http doesn't let me pick which server to use. Any support for HTTPS?

[2017-08-25 22:46] thatbudakguy commented on #168
I'm trying to do this as well. I have:
[code]
where formDataObject is an object parsed from JSON representing the form keys/values. If I send this request, my validator tells me that an image wasn't uploaded.

If I take out the `send()` and `type()` calls, the image is uploaded, but the validator tells me that the form data wasn't sent.

Seems like I can only send one at the expense of the other.

[2017-08-25 22:49] thatbudakguy commented on #168
Possibly related to #97

[2017-08-30 19:31] ignachiou opened #171 "Chai promisses without any error catch possible"
I'm using wdio, chai and chai-http in async mode to make some api rest test over a system, at first, the command line console show me the errors in red and everything was good but since the weekend the test case havent show me the errors in red and the test cases just put the green check at the comand line like it wouldn't be any errors. Someone knows whats going on?

      var chai = require('cha

[2017-09-01 16:38] ZackWard commented on #144
@keithamus Closing this to clean up my issues since it's stale. #166 already updated the current GH readme.md, but the website still has incorrect documentation.

[2017-09-01 16:38] #144 closed

[2017-09-10 18:32] cornelius-k opened #172 "Readme can be misleading"
The readme makes use of expect, but never requires chai.expect.
I recommend adding
`var expect = chai.expect;`

[2017-09-10 18:58] vieiralucas commented on #172
Hello, @cornelius-k thanks for the issue

Are you interested in submitting a PR addressing this?

[2017-09-10 20:40] cornelius-k commented on #172
Sure! https://github.com/chaijs/chai-http/pull/173

Let me know if anything should be changed to follow branch name / PR name conventions.

[2017-09-13 18:26] vaibhavpuri commented on #111
I am also facing a similar problem: https://stackoverflow.com/questions/46204374/chai-http-attach-sets-up-content-type-multipart-formdata
so basically i am trying to post a file as binary since my method accepts the image as binary, so trying to set the content type to image/jpeg after attach:

chai.request('http://localhost:8085')
                .post('/myAPI/' + req.params.id + '/logo')

[2017-09-13 18:27] vaibhavpuri opened #174 "can not post a binary file with content type as 'image/jpeg' using attach()"
I want to pass the file as binary to one of my functions which i want to write the test around using chai http, below is the code:

                  chai.request('http://localhost:8085')
                    .post('/myAPI/' + req.params.id + '/logo')
                    .attach('image', fs.readFileSync(__dirname + '/resources/IMG_86425.jpg'), 'IMG_86425.jpg')
                    .set('Content-Type

[2017-09-14 07:14] vaibhavpuri commented on #174
attach is meant to work for multi part form data, for sending file as binary i used:

.send(fs.readFileSync(__dirname + '/resources/IMG_86425.jpg'))
                .set('Content-Type','image/jpeg')
Solves the problem...

[2017-09-14 07:14] #174 closed

[2017-09-17 11:04] herrjemand opened #175 "Include does not work with object despite the specs"
So I am testing my API, that returns something like this:

[code]

When I run on response `expect(response.body).should.deep.include('authToken');` I get

[2017-09-20 04:52] andrewspiers opened #176 "Testing CORS?"
Hi, and thanks for this very useful plugin.
Is it possible to use this library to test that the Access-Control-Allow-Origin and
Access-Control-Allow-Methods are set by using an http OPTIONS request?

I have tried something like:

[code]

but it doesn't seem to work. Maybe this is a feature request?

[2017-09-20 11:15] keithamus commented on #176
Hey @andrewspiers thanks for the issue.

You can simply make an `options` request and test the headers:

[code]

If you have any other questions like this; you'd have much more success posting your question to Stack Overflow - https://stackoverflow.com/. It's a great resource full of knowledgable people who will happily take the time you help you with this. This issue tracker, however, is only mon

[2017-09-20 11:15] #176 closed

[2017-09-24 00:46] snapfractalpop commented on #98
@keithamus is it possible to use the agent, but on a new instance of the server? I want to write a test to assert that the session id is recognized after a server restart. If we can't reset the server object on the agent, maybe there is a way to set the cookie directly on the second request?

[2017-09-27 08:23] bjornstar commented on #151
It would be really helpful if someone could make a release on npm. If everyone is too busy to do it, would you consider giving someone else the ability to do it? I'd be happy to help on that front.

[2017-09-27 12:10] barraponto commented on #151
@bjornstar you can publish to your own namespace, and we can start testing it.

[2017-09-27 16:58] keithamus commented on #151
For now you are welcome to run `npm install github:chaijs/chai-http#master`. A release will happen soon.

[2017-10-03 16:03] wdullaer commented on #40
This is now the default behaviour in mocha 4 as well.
It caused my tests to hang.
In mocha there's currently a CLI flag to revert to the old behaviour, but I wouldn't count on this being the case indefinitely.

Exposing a `cleanup` or `close` method on the server returned by `chai.request` would be really useful.

[2017-10-08 19:26] grochadc opened #177 "Query returns undefined res"
I have the following test file:

[code]

But when I run `mocha` it returns:

[code]
The first test works fine, but the second is the only one it gives me the error. So I think the problem is when I call the query. Or maybe there's something wrong on how I chain the end()
I have already asked this [question on Stack Overflow](https://stackoverflow.com/questions/46626234/res-returns-undefined-when-c

[2017-10-11 20:04] martypdx opened #178 "Http Server not closing after tests"
Hey I've been using chai-http for testing for quite some time and I'm 95% sure that it would correctly allow mocha to exist after the tests are run. Now though, it just causes mocha to hang after the tests. If I pass in a server (instead of a listening function) and explicitly close, it terminates correctly.

Below are steps for workaround I had to use to get it to work:

[code]

[2017-10-13 10:44] liesislukas commented on #178
in test:

[code]

and in app:
[code]

[2017-10-13 10:47] liesislukas commented on #157
same issue. I found that response body is hidden in `res.response.body` instead of `res.body`.

[2017-10-14 02:08] cklanac commented on #178
@martypdx Mocha 4.0 changed the default behavior.
"By default, Mocha will no longer force the process to exit once all tests complete. This means any test code (or code under test) which would normally prevent node from exiting will do so when run in Mocha. Supply the --exit flag to revert to pre-v4.0.0 behavior"

See https://github.com/mochajs/mocha/issues/2879

So, if you decide to upgrade to Mo

[2017-10-15 04:38] keithamus commented on #178
Thanks for the issue @martypdx and thanks for the responses @liesislukas and @cklanac.

I think all of the work-arounds seem valid; just depends on which one you'd be happiest with in your test suite.

Would anyone like to file a PR improving our documentation around this? Listing the alternative ideas? I'd be happy to merge such a PR!

[2017-10-16 16:07] eluchsinger opened #179 "Chai always passes tests when using Promises"
The following code should fail (obviously). But it doesn't fail, it passes without calling the then function or the catch function. It fails, if I add the done parameter. Am I doing something wrong?

[code]

[2017-10-16 17:06] rusekr opened #180 "Configure rejectUnauthorized per-request option"
Hello!
Need standart nodejs functionality for internal testing / production certificate update issues temp fixes.

Tried to convince author of superagent lib you are using here: https://github.com/visionmedia/superagent/pull/1207#issuecomment-336940481
 but with no luck.

Any suggestions?
And thanks!

[2017-10-18 05:18] martypdx commented on #178
Thanks for responses, makes sense.

I think one thing that might help from an API perspective is to expose the server as a prop on the request when using the listening function overload, or at least offer close method.

To effectively deal with this issue, you have to run your own `http.createServer(app)` in order to maintain a handle. I tend to create a single `request` via a dedicated module (si

[2017-10-18 16:42] keithamus commented on #179
Hey @eluchsinger thanks for the issue.

When using Promises, you need to let mocha know your code is async. The easiest way to do this is to `return` the Promise to mocha:

[code]
(Notice the `return` keyword)

Hopefully this solves your issue. As this is not a bug, I'm going to close this issue - but if you do think it is a bug please feel free to continue the discussion and we can re-open this.

[2017-10-18 16:42] #179 closed

[2017-10-18 16:52] keithamus commented on #180
Hey @rusekr thanks for the issue.

We're beholden to the SuperAgent API. If they're not interested in pursuing it (for seemingly good reasons) I'm not sure we can.

I'll close this for now. If you can provide a very strong use case for this with some example code I'd happily re-open though 😄

[2017-10-18 16:52] #180 closed

[2017-10-18 16:54] keithamus commented on #178
Yeah, actually this makes a lot of sense. I worry though - what of the ergonomics when using a non-express app, what will `request.server` be then? `null`?

[2017-10-18 17:15] rusekr commented on #180
Hello!
Argument 1: What can be stronger than nodejs itself including it? https://nodejs.org/api/tls.html#tls_tls_createserver_options_secureconnectionlistener

Argument 2: it is TEST framework or not? it is for testing, testing not always happens with green certs (and problems/time of installing it) or on own systems where i can set cert.

Argument 3: We have web-system integrated with big company

[2017-10-18 17:19] rusekr commented on #180
Argument 4: i wanted to write anoter test to test exactly errors with certs and ignore these errors in other tests , but i can`t!

[2017-10-18 19:00] barraponto commented on #178
@martypdx if you want to share the agente, use `const agent = chai.request.agent(app)`. It is useful when you want to keep the cookies between the requests.

[2017-10-18 19:03] barraponto commented on #178
@martypdx @keithamus we could have something like `request.server(server => server.close())`.

[2017-10-19 00:10] meeber commented on #175
This should be fixed in Chai v4.1.1 and later per https://github.com/chaijs/chai/pull/1012

[2017-10-19 00:10] #175 closed

[2017-10-19 00:16] meeber commented on #177
In the second example, I don't think there should be any quotations in `chai.request('app')`. If there's still a problem after removing the quotations, what does `err` equal inside the `.end` callback?

[2017-10-19 00:26] grochadc commented on #177
Your'e right. It was the quotations... I missed that. Thank you! 👍

[2017-10-19 00:26] #177 closed

[2017-10-19 09:50] keithamus commented on #178
I see little point in making it a callback - as then we'd simply offer no assurance it got called, and no way to verify at runtime if it was doable. I suppose having `request.server == null` in other cases can at least be checked.

I'd welcome a PR which adds `request.server` alongside some tests, and documentation within the README.

[2017-10-19 13:48] martypdx commented on #178
@keithamus:

Do you mean a `string` hostname like `chai.request('http://localhost:3000')`? The `app` param is a handler at the node http server level, nothing express specific.

I did notice that the `chai.request.agent(...)` method already stores the app argument as `this.app`, which includes functions converted to httpServer.  Perhaps a better approach would be to add `.app` to the returned `req

[2017-10-19 14:06] keithamus commented on #178
Sorry, yes, I meant strings.

[2017-10-24 05:51] MinhLu12 opened #181 "How does Chai-HTTP integrate with Sinon in this situation?"
Here is the route I want to test:

[code]
I can use chai-http to do something like this (psuedo-code):

[code]
However, the api/users route makes a Database call. How would I use sinon to stub this method (replaceUserOnDuplicate) so that it returns a dummy response (like 0, or anything)?

Is it possible? I'm looking at the Chai-HTTP syntax and I see no room to insert any Sinon stubbed methods.

Th

[2017-10-26 02:32] kswope commented on #178
@martypdx 'workaround' seems to me to be not a workaround but the proper way.

The change to mocha exposed a flaw in this lib's api, although it seems convenient, having request start a listening server by itself and then relying on mocha to murder it when its no longer wanted is a bad plan.

I think just changing the documentation, and maybe deprecating passing a requestListener function has my v

[2017-10-27 20:59] shoshi opened #182 "Node Security Advisory for dependecy"
There's a Node Security Advisory for `superagent`: https://nodesecurity.io/advisories/479

The fix is to "update to version 3.7.0 or greater." Would it be possible to bump the dependency version `3.3.0` up to `3.7.0` or higher?

[2017-10-28 00:13] capttrousers commented on #179
I am using the return with the promise but I am getting weird passing behavior as well:

[code]

If I run that, everything runs like I expect, if the server returns a 200. If I change the 200 in the expect assertion to a different status code, it errors `AssertionError: Target cannot be null or undefined.` and logs both messages, from the then() and catch() blocks which is unexpected. I'd just exp

[2017-10-28 10:07] keithamus commented on #179
your `catch` will also catch errors from the `then` block, do avoid this you can combine them into one `then`:

[code]

[2017-10-28 10:08] keithamus commented on #182
Hey @shoshi thanks for the issue!

Bumping to `3.7.0` sounds like a good idea. PRs welcome!

[2017-10-30 19:28] elias-garcia commented on #75
Any update on handling errors properly?

[2017-10-30 20:26] loayg commented on #182
@LEQADA Thanks for the PR.
@keithamus would it be possible to release since the last released version still has  the old vulnerable version. Thanks.

[2017-10-31 00:23] vieiralucas commented on #75
@elias-garcia I believe that this will be fixed when #184 gets merged and we finally release a new version of `chai-http`

[2017-10-31 14:18] #178 closed

[2017-11-01 01:13] darlanmendonca commented on #156
I'm looking for better way to write my specs using async/await. Is very useful write

[code]

instead write

[code]

But the async/await cannot be write to promises that are reject, for example, if my API response with a 400 (Bad Request), this reject promise instead resolve it

And my question is, dont be better always resolve the promise, once the request was responded?

[2017-11-01 01:15] darlanmendonca commented on #156
What I want is clen up my code, inclusively to bad requests, like example below

[code]

[2017-11-01 13:09] chrisdecker1201 opened #185 "Testing application with chai-http"
I wrote my test with mocca and chai to test my express-api. I use the following versions.

[code]

My test all run through with nodejs version 8.8.1. Now I updated to node 8.9 and get the following error:

[code]

I wrote my test like in the chai-http (http://chaijs.com/plugins/chai-http/) documentation under __Retaining cookies with each request__ recommended.

My Test looks like the following.

[2017-11-01 14:08] chrisdecker1201 commented on #185
I found the solution. It was totally my fault.

[2017-11-01 14:08] #185 closed

[2017-11-02 15:04] keithamus commented on #156
@darlanmendonca this will be fixed in the next version of chai-http. See #130 and #75

[2017-11-03 00:56] ablankenship10 opened #186 "Can't send boolean value in multipart/formdata request"
I have an API that requires a file to be uploaded along with a few other fields of data. One of those fields is a boolean value. When sending this I get this error:

[code]

CODE:

[code]

This does not happen when I send the same `public` field as a 1 or 0 integer, but I think booleans should be supported. This may be functionality of another library (combined-stream?) but figure id post here any

[2017-11-03 00:59] ablankenship10 commented on #186
Actually the integers are converted to strings, so this is still not an adequate work around.

[2017-11-10 19:34] serge1peshcoff opened #187 "Server is not closed after request"
I am using chai-http to write the tests like that:

[code]

The thing is, requests to another services are cached in memory of my application, and the first time it doesn't use the cached version, as needed, but the second time I run it, it uses the cached version. That means that the app isn't closed after 1st request somehow. Also I tried to put debut statements inside the callback after server

[2017-11-10 19:56] serge1peshcoff commented on #187
Well I've looked into the source code of my installed version, compared it with the code in this repository, and it seems like the changes to close the connection after request (the last commits) are not in the NPM repository (I've installed the NPM version twice, just to be sure, and these changes are not there). Can you please update the NPM package?

[2017-11-10 21:23] gswalden opened #188 "Agent Server not closing after tests"
Closely related to #178

Setup:
[code]

Code that exits:
[code]

Code that hangs:
[code]

Valid as of cee5dbd0216b20c8ddf8d98e5a9dd7a8d389addd.

[2017-11-10 21:39] vieiralucas commented on #187
Hello @serge1peshcoff
This should be fixed once #184 gets released
For now you can follow #178 workarounds or use master:
[code]

[2017-11-10 21:39] #187 closed

[2017-11-10 22:07] serge1peshcoff commented on #187
@vieiralucas Is there any ETA or the release date?

[2017-11-11 01:23] darlanmendonca commented on #156
@keithamus nice!! awaiting for next release :D

[2017-11-11 01:31] kingjerod commented on #186
I have the same problem. As a work around, you can just change your true/false to "true"/"false". Everything sent in a form in the browser is a string anyways.

[2017-11-12 16:58] keithamus commented on #186
Hey @ablankenship10 thanks for the issue.

chai-http is really just a chai wrapper around https://github.com/visionmedia/superagent. You should file this issue there - as that will be the repo that needs to implement boolean values.

I'll close this for now; if you file the issue over there and it gets merged feel free to file an issue with us saying to update our version of superagent!

[2017-11-12 16:58] #186 closed

[2017-11-12 17:10] keithamus commented on #188
Thanks for issue @gswalden

I wasn't sure if it made sense to auto-close the server for `agent`, as it is used to store cookie data and made subsequent requests with that data. (Ideally servers should be stateless but this felt like less of a footgun than auto closing a server). If you disagree with this decision I'd love to hear more about your usecase

[2017-11-12 18:34] kennedyoliveira opened #189 "Server not closing"
Hello everyone, i'm new to chai and i'm having some difficulties to close the server after using it.

I'm following the example on the README:

When passing an `app` to `request`; it will automatically open the server for
incoming requests (by calling `listen()`) and, once a request has been made
the server will automatically shut down (by calling `.close()`). If you want to
keep the server open,

[2017-11-12 18:38] kennedyoliveira commented on #189
As a workaround, i created the server myself, and instead of using the app to create the request, i use the server and manually close it, but would be interesting not having to do it and relaying only on `chai-http`.

[2017-11-12 18:44] keithamus commented on #189
Hey @kennedyoliveira thanks for the issue.

Are you using the latest version from `npm` or installing from `master`?

[2017-11-12 19:36] kennedyoliveira commented on #189
I'm installing from master, and the line i pointed is from the master too.

[2017-11-13 09:59] keithamus commented on #189
It's worth noting that it was a design decision to keep a server that ran from an agent open by default (see https://github.com/chaijs/chai-http/blob/cee5dbd0216b20c8ddf8d98e5a9dd7a8d389addd/lib/request.js#L318-L320).

The reason for having Agents keep the server open is (for better or worse) shutting the server down may cause issues with state that a server may maintain. While it is certainly tru

[2017-11-13 11:59] kennedyoliveira commented on #189
Hey @keithamus, i didn't quite understand your answer, i agree with you about keeping the server open, seems indeed a good design, my question was about the specific function `close` which doesn't close the server when called, unless the `keepOpen` flag is set to false. I just want to understand the best / idiomatic way of keeping the server open during a test and closing on the end, with a `after

[2017-11-13 15:58] keithamus commented on #189
Ah yes! Sorry, I misread the original comment. This looks like a bug and should absolutely be fixed, with some tests to ensure that it doesn't regress with future changes.

If you'd like to make a pull-request that addresses this, I'd love to review it and get it merged in before the next release!

[2017-11-13 16:48] kennedyoliveira commented on #189
No problem, i sure could, i'll check the source and look what can be done, if you can give me any hint, because as i stated, i just started using it so i could may introduce some unwanted behavior haha.

Thank you!

[2017-11-13 17:22] keithamus commented on #189
I think:

https://github.com/chaijs/chai-http/blob/cee5dbd0216b20c8ddf8d98e5a9dd7a8d389addd/lib/request.js#L236-L238

Needs to change to

[code]

and https://github.com/chaijs/chai-http/blob/cee5dbd0216b20c8ddf8d98e5a9dd7a8d389addd/lib/request.js#L228-L231

needs to change to

[code]

[2017-11-15 15:19] gswalden commented on #188
Understood, if it's a design decision I can't say I have an issue. I will add a note to the README to close this out.

[2017-11-15 21:51] #188 closed

[2017-11-15 21:54] keithamus commented on #188
Thanks @gswalden 👍

[2017-11-21 16:03] leogoesger opened #191 "POST with chai-http does not work"
Hi,

I cannot seem to POST to a table using `chai-http`. The log looks like following:

[code]

And I make the same post with POSTMAN:

[code]

I checked the table for both cases. They have all user and route id of '1' already inserted. Here is the test:

[code]

And I am using `"mocha": "^4.0.0"`

[2017-11-21 16:13] #191 closed

[2017-11-21 16:14] leogoesger commented on #191
something wrong with my test database does not have id colum

[2017-11-29 00:04] raciasolvo opened #192 "A package with new version"
Hello!
Please create new package 3.0.1. I have some troubles with `"superagent": "^2.0.0"` from package 3.0.0 because `npm` installs `superagent` with version `<3.0.0`.
I am installing chai-http from master now.

[2017-11-29 10:22] mindhaq opened #193 "Secure Cookies cannot be validated"
I'm using chai-http for writing functional tests on an external HTTPS interface. I want to check if the response contains certain Cookies.

        it('it should send XSRF token in cookie', () => {
            const agent = chai.request.agent("https://example.com");
            return agent.get('/r')
                .then(res => {
                    expect(res).to.have.cookie('XSRF-TOKEN');

[2017-11-29 10:28] mindhaq commented on #193
maybe #192 would already help me.

[2017-11-29 10:35] mindhaq commented on #193
ok, current master does not have this problem.

really time for a new release :)

[2017-11-29 10:35] #193 closed

[2017-11-29 21:19] keithamus commented on #193
Thanks @mindhaq. I hope to get a new release out before the end of the year. We need to get some things done first though.

[2017-11-30 17:16] robbiejaeger commented on #171
I'm seeing the same thing as @ignachiou.

[2017-12-01 17:04] chadbr opened #194 "Feedback: This thing rocks."
Ran across this while trying to figure out how to mock express. Works like a champ.

Thanks for the great work!

-----

Sorry - didn't know where else to put this...

[2017-12-02 20:09] keithamus commented on #194
Thanks for the kind words @chadbr 😄 its much appreciated.

[2017-12-02 20:09] #194 closed

[2017-12-04 22:05] leggsimon commented on #171
If I understand your problem correctly, you're expecting to see tests fail and they are not. I can see a couple of things that might be the case. This is an asynchronous test so you would want to return the promise with your test assertions. (Or possibly use the `sync: false` config in `wdio` but I'm not familiar with it)

Example:
[code]

Also, the fact that you're catching your error might hide

[2017-12-04 22:48] ignachiou commented on #171
Yes, this is a async test. So how can i receive the red warning of an error? Any idea?

[2017-12-04 22:50] leggsimon commented on #171
So I think if you remove the `.catch()` and return the Promise to the test runner. It might show you the error it is encountering. (Assuming your test runner is similar to ones I've used)

[2017-12-07 15:01] leggsimon commented on #171
Did that work at all for you @ignachiou?

[2017-12-15 07:08] melkarm commented on #189
Hello,

This still happens to me with v3.0.0 through npm.

Regardless or whether I use
`const agent = chai.request(app)`
or
`const agent = chai.request.agent(app)`,

I get `close is not a function` when calling `agent.close()`.

Anything I am doing wrong?

[2017-12-19 03:01] keith24 opened #195 "redirectTo() is throwing "TypeError: redirects.indexOf is not a function""
I _think_ I found a bug!  This is my test:

[code]
But it's throwing this error:

I edited `lib/http.js` to identify the `typeof redirects` and it came up as a function, not a string.  I can't tell where `redirects` comes from (`this._obj.redirects` is greek to me), so I'm not sure if this is a bug or not.

[2017-12-19 03:09] keith24 commented on #195
No, it's my fault.  I forgot to `await`:

[code]

[2017-12-19 03:09] #195 closed

[2017-12-23 11:41] miksansegundo commented on #168
This examples works for me:

[code]

[code]

[2017-12-23 12:21] jasperblues commented on #168
Sorry, it was just a user error. I had a file filter that i'd forgotten about. We can close this.

[2017-12-29 13:01] marcos-diaz commented on #192
I there any reason for this not happening?

[2018-01-06 07:47] willchb commented on #189
Hello,

This is fixed in master since https://github.com/chaijs/chai-http/commit/3d7ab70b38518c09b3ab4e961134664dfd0a3850

@melkarm, In 3.0.0 you could call `agent.app.close()` instead.

[2018-01-14 03:06] ccnuyan opened #198 "why this test pass?"
[code]

[2018-01-14 03:08] #198 closed

[2018-01-30 10:19] ben-crowhurst opened #200 "Ability to remove auto generated headers."
I'm testing a new RESTful service and I'd like to remove the `Content-Type` header so one might get a 415 (Unsupported Media Type) response.

The example below forces the `Content-Type` header set to `application/x-www-form-urlencoded`.

[code]

Is this possible?

[2018-01-30 10:43] keithamus commented on #200
Hey @ben-crowhurst thanks for the issue.

`.send` will set the `Content-Type` header if it isn't present (or is `null`). You should try `set`ing it after calling `send`.

[code]

Sorry to say I wont be able to help any more than this; in the future, you may have much more success posting your question to Stack Overflow - https://stackoverflow.com/. It's a great resource full of knowledgable people

[2018-01-30 10:43] #200 closed

[2018-01-30 11:07] ben-crowhurst commented on #200
@keithamus Thanks for the speedy reply.  I tried an assortment of different configurations, including after send, with no luck.

Thanks for your time.

[2018-01-30 11:12] keithamus commented on #200
@ben-crowhurst Chai-HTTP is really just a wrapper over https://github.com/visionmedia/superagent. So check out their issue tracker, docs, or code - it might have some insight for you!

[2018-01-30 11:13] keithamus commented on #200
A quick look - maybe this will work:

[code]

[2018-01-30 11:17] ben-crowhurst commented on #200
You are a Gentleman and a Scholar.

Where is your 'buy me a beer' link?

[2018-01-30 12:22] keithamus commented on #200
Why, there is one right here: https://opencollective.com/chaijs 😆

[2018-01-31 16:19] eino-makitalo opened #201 "application/json"
when trying to use this with command like...
chai.request(server).post('/api/v1/logic/add').
        .send({ position:'below',
            country:'com',
            target: uuidtarget
            uuid: uuid
            });
I cant find to specify content-type: application/json   ... it is always sending text/plain which breaks my test

[2018-02-05 02:44] deefour commented on #156
@keithamus any plan to tag a new release?

[2018-02-05 14:15] ashton commented on #156
+1

I've set my dependency to chai-http:master but because of that, I added GIT dependency to my build process, I've had to change my base image from node:alpine to node:wheezy, because alpine and slim tags doesn't include GIT, and wheezy makes my project image grows from, 45mb to 621mb, if you could priorize this in the next release would be great!

[2018-02-05 20:43] shanehughes3 commented on #151
I hate to be annoying, but... any update here? We're closing in on a year for this issue. There are a number of features and changes in master that are ready to be published, and I'd really prefer not to leave a github link in my package.json where an npm package would be possible.

[2018-02-06 10:12] keithamus opened #203 "Look at dropping superagent, in favour of fetch?"
Firstly, no shade toward superagent. It's an excellent library and the maintainers should be proud of the product they've made. But I think it could be useful to explore dropping it as the backing library for chai-http.

I'd say around 40-50% of the issues we get on this tracker are related to features or bugs within superagent. Many around how to use superagent and its API, which we do not docume

[2018-02-06 17:20] BigstickCarpet commented on #203
I really like the syntactic sugar that Superagent provides.  It feels consistent with Chai's BDD syntax, which makes test code look coherent and consistent.

Doesn't Superagent use Fetch under the hood (at least when running in a browser)?  If so, then there's already some code somewhere inside Superagent to convert a Fetch response to the Superage response object, which is what Chai-HTTP relies o

[2018-02-06 18:33] keithamus commented on #203
This is tempting. Of course it would mean every one of our existing assertions (which are made to support only `superagent` would need to support a myriad of clients, I presume each time trying to detect which one is which. It also forces users to then decide which library they should pick to run these assertions, and so this becomes a less "complete" plugin. The benefit of moving to fetch is that

[2018-02-06 20:19] BigstickCarpet commented on #203
Great point.  And that's a _very_ important design goal

That sounds like the best route.  It'll make Chai-HTTP feel more complete and cohesive, and it'll also provide a smoother upgrade path for folks who want to migrate from the old syntax without completely replacing it with Fetch

[2018-02-06 22:35] CordlessWool opened #204 "compare to header values"
I try verify a header value with a other one, read a test case before

[code]

[2018-02-07 00:49] #204 closed

[2018-02-07 00:50] CordlessWool commented on #204
I forgot to set done in the other test and find out that I use header wrong way.

[2018-02-07 10:44] wheresrhys commented on #203
Could steal some ideas from https://github.com/mikeal/r2

[2018-02-09 22:30] ken624 commented on #189
I have same problem here. In description in [3d7ab70](https://github.com/chaijs/chai-http/commit/3d7ab70b38518c09b3ab4e961134664dfd0a3850), it says `This automatically closes server connections after making a request`. But for me it is not closing the server after test done.

Also if I use `chai.request(app)`, it gives error.

[code]
This throws error:  `requester.close is not a function`
If I do

[2018-02-10 04:33] rkmax commented on #189
In my case I found the problem, recent mocha's version aren't exiting the process by default (like the oldest one), is necessary the flag `--exit` if not will keep running

[2018-02-11 20:49] stevenhair commented on #158
It also interferes with [chai-html](https://www.npmjs.com/package/chai-html). I've had success putting `chai.use(chaiHttp)` in a `before` block, but 1. that may just work because of the order in which my tests are running, and 2. that doesn't really help you if you need to use both in the same test.

I'm not sure that this will ever be "fixed" because using any two plugins together can cause this.

[2018-02-11 22:45] keithamus commented on #158
Hey @PhilippMi thanks for the issue!

Thanks @stevenhair for the extra comment.

We have some plans to fix this kind of thing long term, but yeah this wont be fixed any time soon. Follow https://github.com/chaijs/chai/issues/585 which hopes to address this (and many other issues) in the chai ecosystem

[2018-02-12 17:14] josh-g3 opened #205 "Test reports that it both passes and fails during sequential async operations"
Code:
[code]
Which causes Mocha to yield this:
![screen shot 2018-02-12 at 10 26 23 am](https://user-images.githubusercontent.com/35228316/36109545-b9e5192e-0fed-11e8-9010-958cc4c0dab2.png)

[2018-02-13 00:38] joaomlneto commented on #156
Just putting it here in case it's useful to someone -- current code on `master` works fine, except for this tiny bit:
https://github.com/mochajs/mocha/issues/2407

The following code will fail with `Error: Resolution method is overspecified. Specify a callback *or* return a Promise; not both.`:
[code]
Removing the `done` argument solves it.

[2018-02-13 04:50] deefour commented on #156
@joaomlneto Here's what mine look like.

[code]

And yeah, `master` works, but pointing at it via `package.json` seems to cause it to get pruned periodically from unrelated npm commands. This is why I was hoping to see a new release tagged.

[code]

[2018-02-14 16:21] keithamus commented on #203
Maybe - following that idea @leggsimon - we could offer `fetch`, but also tack on a bunch of helper methods that close over the `fetch` function signature, similar existing request libraries. For example:

[code]

[2018-02-16 21:28] Stilldabomb commented on #75
February 2018, still not published on NPM? I'm still getting this same problem. 2 year issue..

[2018-02-20 23:05] workin-bob opened #206 "Response - testing for XSSI prevention and then strip it before proceeding."
It seems that a best practice to prevent cross-site script injection is to return the following string at the top of any Content-Type: application/json.  The string is to force a JSON parse error.  Angular knows to strip this string before conversion.
     ")]}',\n"

I need 2 things
  1 - A flag on the response indicating the XSSI prevention string is in place (for unit tests)
  2 - strip the pref

[2018-02-23 00:10] gfviegas commented on #156
@joaomlneto but does the test passes even though there's an assertion error?

I'm doing the same but it looks like the suite passes since async function automatically return promises and won't wait for my expect to run

[2018-02-23 00:24] deefour commented on #156
@gfviegas I'm unclear; are you having an issue or not? If so what's your test look like?

[2018-02-23 00:26] gfviegas commented on #156
@joaomlneto @deefour

Nevermind.. I just figured it out that I had a try/catch block and forgot to throw the catched error so mocha could catch it.

[2018-02-28 14:40] ioanniswd opened #207 "keepOpen is not a function"
Tried to keep server running to test multiple consecutive requests, copied test from test/request.js but getting:

TypeError: chai.request(...).keepOpen is not a function

My code:
[code]

[2018-03-05 14:56] acme commented on #203
I'm mostly using `chai` with `fetch()` thesedays, so I'm generally positive about this proposal.

I note that http://chaijs.com/plugins/chai-fetch/ and http://chaijs.com/plugins/node-fetch-response-matchers/ already exist.

Perhaps rather than moving `chai-http` to a different backend we could instead deprecate the module and build a newer, shiner one?

[2018-03-06 22:13] webocs commented on #168
@miksansegundo yeess! I'd tried everything.. `field `was the missing keyword for me.. using `type('form')`, `attach` for the files and `field` for the data did the trick. Thanks!

[2018-03-07 01:26] HanHyeoksu commented on #207
+1

**./test/test.js**
[code]

**package.json**
[code]

**run**
[code]

**result**
[code]

node: v8.9.4
yarn: v1.3.2

[2018-03-07 04:48] HanHyeoksu opened #208 "Occurred 'read ECONNRESET' error when server is listening port only 3000"
It is not clear and some weird.
`read ECONNRESET` exception is occurred when I use chai.request() with server that is listening port 3000 but the others port.

Problem code is here:
**./test/test.js**
[code]

**run**
[code]

**result**
[code]

**node**: v8.9.4
**yarn**: v1.3.2

If I change the port from 3000 to the other port such as 3001, 1313 then the error is not occurred.
Why does it happen? M

[2018-03-08 17:41] gigi commented on #75
Any plans for release? We are waiting for proper testing...

[2018-03-12 16:11] slavik-m commented on #207
+1

[2018-03-13 07:11] the-nerd commented on #170
I am having the same issue but i am not using https at all. anyone got a fix?

[2018-03-13 12:43] keithamus commented on #170
What happens when you `curl` with a post to your server? Could it be a CORS issue or a redirect issue?

[2018-03-13 15:08] the-nerd commented on #170
I found the issue and it is not related to chai i suppose. What happened is that I was running another project in a separate cmnder window and using ngrok on it for it to be available for mobile team. after a lot of R&D and being unable to find the issue, I happened to spot the ngrok window and think to myself,"what the...". I stopped ngrok(not the other project, it was still running) and tried my

[2018-03-14 00:13] HanHyeoksu commented on #207
I figured out why `keepOpen` is not shown.
According to the commit log and release history, the code that has `keepOpen` is not released on npm yet.
`keepOpen` is added about 4months ago, but the chai-http was released at jun 10th 2016.

[2018-03-22 13:19] #151 closed

[2018-03-23 08:21] BorntraegerMarc opened #209 "Update typescript definitions for version 4.0"
I think the typescript definitions should be updated for this new release: https://github.com/chaijs/chai-http/releases/tag/4.0.0

[2018-03-23 10:41] keithamus commented on #209
Hey @BorntraegerMarc thanks for the issue!

We don't have typescript definitions for chai-http yet - maybe you're using `@typed` ones? I think we could definitely look at adding them though! PRs welcome 😃

[2018-03-23 11:32] BorntraegerMarc commented on #209
Jep, I'm using the `@typed` ones :) Unfortunately I won't have time soon to make a PR for it :/

[2018-03-23 19:27] mceachen commented on #209
@keithamus do you want typings to be added to `chai-http` proper, or do you prefer them in staying in DefinitelyTyped?

[2018-03-26 08:32] marcos-diaz commented on #192
this can be closed since 4.0.0 is out

[2018-03-26 13:46] peeyushsrj opened #210 "method as a variable"
I am automating tests using `chai-http`. It provides methods for request types as `get`, `post`, `put` etc. But how can I do something like
[code]
in chai-http. I have seen the documentation + already opened issue, didn't find solution. Please help.

[2018-03-26 14:12] keithamus commented on #210
Hey @peeyushsrj thanks for the issue.

Would `chai.request(url)["post"]()` not work for you? At any rate - you may habe much more success posting your question to Stack Overflow - https://stackoverflow.com/. It's a great resource full of knowledgable people who will happily take the time you help you with this. This issue tracker, however, is only monitored by less than a handful of people whose t

[2018-03-26 14:12] #210 closed

[2018-03-26 14:14] #192 closed

[2018-03-26 14:19] HanHyeoksu commented on #210
If you want to use function using string then how about this way?
[code]

[2018-03-27 16:25] newkillerbeast2017 commented on #170
@keithamus I am pretty sure I am not using https and I am facing same issue as well. Here is the complete setup in my StackOverflow questions : [https://stackoverflow.com/questions/49461144/chai-http-always-returns-404-error-code](https://stackoverflow.com/questions/49461144/chai-http-always-returns-404-error-code). I can seem to get 200 return code when I hit the api from Postman or any browser.

[2018-03-30 15:24] rodmaz opened #211 "Chai-HTTP 4.0.0 not correctly handling errors"
`chai-http` 4.0.0 does not correctly handle errors. In `chai-http` 3.x.x, HTTP errors (3xx, 4xx, 5xx) are returned in the callback parameter (`err`). Under `chai-http` 4.0.0, when server returns an error, error objects in callback are `null`.

Example below works fine with `chai-http` 3.x.x (return a valid `err` object) but fails with `chai-http` 4.0.0 (`err` object is null).
[code]

[2018-04-03 08:44] keithamus commented on #211
Hey @rodmaz thanks for the issue.

This is intentionally part of the breaking changes that were released with chai@4. We don't want to error based on the status code, especially as we are a testing library and an error state typically means "tests have failed". Instead as long as the request completes - regardless of status - it will not have an `err`.

[Here are the release notes for 4.0](https:/

[2018-04-03 08:44] #211 closed

[2018-04-10 06:53] Zikoel commented on #207
According with npm page I have found that `chai-http` is on version 4.0.0 updated 19 days ago. So after updating version on my `package.json` to the right `chai-http` I  can found the `keepOpen` function and all work well!

[2018-04-10 10:45] keithamus commented on #207
I'll close this as this is part of chai-http@4. Anyone who lands on this issue should upgrade.

Thanks everyone!

[2018-04-10 10:45] #207 closed

[2018-04-22 11:43] pc-jedi commented on #164
Any news on this?

[2018-04-26 15:39] richardpringle commented on #75
@gigi, I'm pretty sure this has been released in 4.0.0

@keithamus, I'm pretty sure this issue can be closed

[2018-04-30 09:05] keithamus commented on #75
Thanks @richardpringle!

[2018-04-30 09:05] #75 closed

[2018-05-02 15:08] foodaka commented on #156
@joaomlneto im getting a timeout error using this syntax. any ideas?;

   Error: Timeout of 20000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves.

[code]

[2018-05-02 21:57] zetos commented on #156
@foodaka remove the `done` argument and it should work fine. The `done` is just for callbacks and you are using promises.

[2018-05-03 09:37] foodaka commented on #156
Thanks for the replies @joaomlneto and @zetos , it was a bug on my side. I also listened to @zetos and removed the done from the function params.

[2018-05-03 14:55] damianb commented on #211
In all honesty, this is a sign that you have poorly communicated breaking changes.

You have a [history file](https://github.com/chaijs/chai-http/blob/master/History.md) that is sorely out of date (last updated at 2014-10-08 for 1.0.0) for several versions ago containing a deprecation message which is referring users to check your [commit logs](https://github.com/chaijs/chai-http/commits/master) w

[2018-05-09 04:13] Strandedpirate commented on #170
Set the content-type and accept headers and see what happens.
[code]

In addition your `POST_ENDPOINT_PATH` should be relative not absolute.

correct: `/myendpoint`
incorrect: `http://localhost:3848/api/myendpoint`

[2018-05-14 14:08] EmixMaxime commented on #75
Hi,
Yes, it has been released.
Thanks,
Happy testing!

[2018-05-15 11:03] keithamus commented on #156
Thanks @joaomlneto 👍

If anyone wants to continue the discussion feel free, or also feel free to open a new issue if you think this hasn't been fully resolved!

[2018-05-15 11:03] #156 closed

[2018-05-28 13:10] apoguy opened #212 "Uncaught TypeError: Cannot read property 'writeQueueSize' of null"
I'm running some tests using Mocha, Chai and Chai Http.

Right now I am facing the following issue:

Here's the code of my test:

[code]
Other tests using Chai Http are working fine. Problem apparently is when you perform this 1000 requests.

[2018-05-29 11:15] keithamus commented on #212
Hey @apoguy thanks for the issue.

I dont think this is a bug with Chai-http - you are likely exhausing Node's socket pool. You'll want to either batch these, or run them in serial. Serial execution is pretty trivial, just turn this into an async function and await `chai.request` - like so:

[code]

This might run a little slow as each test would need to be set up and subsequently paired down. Alt

[2018-05-29 11:15] #212 closed

[2018-05-30 12:37] chrismclarke commented on #201
same problem here, tried with .type("form") however it tries to flatten nested json arrays which then gives problems for me later.

[2018-05-30 13:38] chrismclarke commented on #201
Actually never mind, I see this is an issue with [superagent ](https://github.com/visionmedia/superagent/issues/860)

[2018-05-30 14:04] chrismclarke commented on #201
Resolved by chaining `.type("json")` to the request. Assume this should also work for @eino-makitalo

[2018-06-01 13:16] E314c commented on #189
@rkmax while that's a workaround in telling mocha "please just force quit anything when you think you've finished with the tests", it doesn't fix the underlying problem that there's an un-finished process in the event loop

[2018-06-02 12:09] pronebird commented on #135
The following seems to be working just fine for me with no errors thrown:

[code]

[2018-06-21 03:19] Qubaish opened #213 "Handle middleware using chai-http"
Hi guys, I am facing issue I am testing an api using chai-http but it struck in middlewear means it does not call next() function. Not sure how to handle this, little guide may be helps me alot. Here is my code may be it helps you understand better.

**Middleware**
[code]
**API**
[code]
**Test Case**

[code]

[2018-06-21 10:53] keithamus commented on #213
Hey @Qubaish thanks for the issue.

This looks like it is not a bug with chai-http. If your middleware isn't working correctly I'd suggest you look up the documentation for the web framework you're using (you haven't mentioned which framework you're using - I guess it's express?). Although I haven't run your example code (I'm afraid I don't have time) nothing looks wrong with it - so maybe it's th

[2018-06-21 10:53] #213 closed

[2018-06-29 16:23] bkuker opened #214 "When running as Agent superagent defaults not set."
Code like this does not work:

`var agent = chai.request.agent(urls.central).auth(su.username, su.password);`

If you look at this line of SuperAgent:

https://github.com/visionmedia/superagent/blob/66aed3427f29bf0c09b1df0e7f8aa9f0e30732ab/lib/node/agent.js#L83

You see the call to _setDefaults.

The corresponding code in chai-http, https://github.com/chaijs/chai-http/blob/master/lib/request.js#L3

[2018-07-02 21:02] kriscampos commented on #203
I think its worth pointing out that [superagent is known to be problematic when developing server code in TypeScript](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/12044). The solutions discussed in that thread have their own downsides and I actually first encountered these problems through chai-http.

Maybe we could use a project like [node fetch](https://github.com/bitinn/node-fetch)

[2018-07-16 19:42] cdupont opened #216 "Display text of HTTP response upon exception"
I'm using chaiHttp to test an API:

[code]

This works well, except when an exception happens:

[code]

The error message is not so useful to debug the API. How can I display also the body of the HTTP response error? It usually contains more explanation of the error. I could wrap all my tests in try/catches, but this seem cumbersome.

[2018-07-16 19:44] cdupont commented on #216
I added this in function status of http.js:

`'expected #{this} to have status code #{exp} but got #{act} with message: ' + this._obj.text`

It gives good results.

[2018-07-16 22:06] BlueWater86 commented on #189
I've hit this issue too and will be submitting a pull request to get it fixed. The problem begins when passing an already listening server into chai-http's request.

The logic in the code below says: if app parameter is a function, pass it as a parameter to http.createServer() which creates a new server ignoring the one that you've passed in.

From here you end up with your server listening on one

[2018-07-16 22:51] BlueWater86 commented on #189
I take back my previous comment agreeing that this is a bug. The problem was in my code not in the logic of chai-http.

Yes there was a duplicate server bound to a port but this was because I was exporting my express app from server.js and not my listening server.

Server.js, don't do:
[code]

Instead:
[code]

[2018-07-17 19:01] trdvangraft commented on #189
@BlueWater86 thank you very much really helped me out, the solution worked.

[2018-07-24 10:43] #189 closed

[2018-07-25 14:59] austince opened #218 "Bug: Inherited status / statusCode properties can not be checked"
Using the popular error library [`http-errors`](https://www.npmjs.com/package/http-errors), the normal chai-http assertions for status / statusCode do not work. I think this is because of the inheritence used by `http-errors` when creating new error objects.

I have this, which works:
[code]

It should probably still work as:
[code]

[2018-08-01 20:44] austince commented on #218
Fixed with #219 :confetti_ball:

[2018-08-01 20:44] #218 closed

[2018-08-16 06:11] vidya3105 commented on #75
i am making a simple get request but getting 404 error.
chai.request(host).get(path).set('Content-Type', 'application/json').send().end((err, res)

and response i am getting is
{
    "req": {
        "method": "get",
        "url": "http://localhost:8080/ping/",
        "headers": {
            "user-agent": "node-superagent/3.8.3"
        }
    },
    "header": {
        "content-type": "text/htm

[2018-08-16 09:02] joaomlneto commented on #75
@all: sorry for the spam you got in your inboxes for being subscribed to this closed topic.

@vidya3105 this is not the right place nor time for that question. Does not fit the topic (**ES7 async/await**), and is doubly bad because the issue has been **closed**. There are a dozen people that got your message in their inboxes when they really shouldn't have.

Checking the response you got, you can

[2018-08-17 11:04] keithamus commented on #135
@luispabon 4.0.0 includes this fix. Perhaps if you could raise a new issue with some code that doesn't do what you expect, that'd be great 😃

[2018-08-17 11:49] luispabon commented on #135
copy that 👍

[2018-08-26 14:35] w7089 opened #222 "Impossible to specify passphrase argument in GET http call"
Couldn't find how to specify passphrase in client certificate in chai-http or superagent docs.
So, it seems impossible to make the below call using chai-http...

    curl -k --key [key_path] --cert [cert-path]:secret 'https://127.0.0.1/url'
The following code returns error:

I guess it's because of missing passphrase argument.

[code]

[2018-09-05 13:55] austince commented on #203
Has any dev work been started on that yet? If not, I'll see if I have time to get something started this weekend!

[2018-09-06 12:03] keithamus commented on #203
@austince if you want to - head onto our Slack https://join.slack.com/t/chai-js/shared_invite/enQtNDMwMjEwNDQxMDkxLTY2NWQzNmQ4M2VmZjhmZGMwODI2ZTBmZGEwMTQ3OGJiNzc4MDMzZGYzMGQ5NTAyYzkzNDE1NzNmNjYzM2M4ZDg instance and we can chat about the direction I'd like to see this work go in.

[2018-09-17 12:03] catalinberta commented on #165
@wzup
You need to put a body parser before setting up the route with `use`

`
const bodyParser = require('body-parser');
const express = require('express');
const route = require('routes/myRoute');

const app = express();
app.use(bodyParser.json());
app.use('/path', route);

chai.request(app)
				.post('/')
				.send({ login: 'test', password: 'test' })
				.end((err, res) => {
					expect(res).to

[2018-09-18 11:47] sysstas opened #226 "bcrypt.compare not executing when testing with mocha and chai-http"
Hangs up  when bcrypt-compare start execution in test and eventually fails the test.
But tested code is correct and runs well on server without hanging up.

[2018-09-18 13:31] sysstas commented on #226
I posted question on stackoverflow. You can find code there.
https://stackoverflow.com/questions/52385375/bcrypt-compare-not-executing-in-chai-mocha-tests-but-executing-in-code
Please ask if something else needed - Ill provide.

[2018-09-19 13:37] sysstas commented on #226
Wrong behaviour wasn't connected to chai/mocha/bcript. It was caused by following statement

    } else {
        res.status(401)
    }
correct code should be

    } else {
        res.status(401).send(something)
    }
or

    } else {
        res.sendStatus(401)
    }
I think Express waiting for .send() after .status() and keep connection without response

[2018-09-19 13:37] #226 closed

[2018-09-20 15:53] kvarik opened #227 "Trying to use agent throws an error TypeError: agent.request is not a function"
Here's code:
`let chai =  require('chai'),
  chaiHttp = require('chai-http');
chai.use(chaiHttp);
let agent = chai.request.agent(host);
`

Error: TypeError: agent.request is not a function

Node 10.10, Mocha 5.2.0, Chai 4.1.2, Chai-Http: 4.2.0

[2018-09-20 16:18] austince commented on #227
Hi @kvarik, yes `Agent.request` is not a function. It is an instance of [`supertest`](https://github.com/visionmedia/superagent), which has methods like `get`, `post`, etc. but not `request`.

[2018-09-21 08:49] kvarik commented on #227
@austince but how does it correspond with documentation? I simply copypasted code from docs and changed var to let.

[2018-09-21 10:58] #227 closed

[2018-09-26 02:01] austince commented on #201
@eino-makitalo, did specifying the `type`  fix your issue?

[2018-09-26 02:01] austince commented on #172
Closed with https://github.com/chaijs/chai-http/pull/173

[2018-09-26 02:01] #172 closed

[2018-10-02 15:04] ryanto opened #228 "Asserting response of js file"
I need to test that some text exists in a javascript file, but I'm unsure how to assert the response of an `application/javascript` content type. Both `res.body` and `res.text` are empty.

[code]

Is there a function or property on `res` that I can use to get the response from the server?

Thanks!

[2018-10-02 21:55] keithamus commented on #228
Hey @ryanto thanks for the issue.

`res.text` should be the thing you need, I believe.

I'm going to close this issue - because its not a bug within our code. However if you do run into any more issues that you feel could be bugs, please don't hesitate to open a new issue.  I wish you the best of luck with your work and I'm sure you'll find good resources on Stack Overflow :smile:.

[2018-10-02 21:55] #228 closed

[2018-10-03 08:55] bgSosh opened #229 "err in .end(funtcion(err, res)) not being set?"
Should err be set when the response contains an http code of 4xx/5xx?  I'm seeing err === null when getting these http codes in responses.

[2018-10-21 08:47] kiwi-koder opened #231 "Make it easier to see from the docs that "DELETE" method is .del"

[2018-10-21 09:07] kiwi-koder commented on #231
Edit... Ok I was getting confused... It was just .del( that I needed!

[2018-10-22 15:04] wombolo commented on #189
Authentic solution. Works for me. Thanks

[2018-10-30 21:51] sandrapavankumar opened #232 "How to send header fields in get request"
chai.request(app).get(baseUrl).send({ channel: "test" })..end((err, res) => {
//
done();
});

please suggest hoe to pass the header fields in the get requeat

[2018-10-31 13:31] austince commented on #232
`chai-http` uses [superagent, see the `set` method](http://visionmedia.github.io/superagent/).

[2018-10-31 13:31] #232 closed

[2018-11-04 05:06] vieiralucas commented on #231
Hello @kiwi-koder thanks for your issue, do you have any suggestions on how we could do that?

[2018-11-05 16:10] austince commented on #229
Hi @bgSosh, as of [4.0.0](https://github.com/chaijs/chai-http/releases/tag/4.0.0), this library no longer reports errors based on http codes. Please see the release notes for how to migrate.

[2018-11-05 16:10] #229 closed

[2018-11-15 18:35] #201 closed

[2019-01-03 06:03] gintsgints opened #234 "With new version 4.2.1 added index.d.ts give compile error with latest TypeScript."
[code]
Typescript: "typescript": "^3.2.2"

[2019-01-03 08:32] vieiralucas commented on #234
Hello @gintsgints, thanks for your issue.
I just tried reproducing your issue with this following example:

`package.json`
[code]
`index.ts`
[code]

console:
[code]

Can you provide a small reproducible example?

Thank you.

[2019-01-03 15:15] gintsgints commented on #234
Problem was, there was existing @types/chai-http package, which has only older version.
If I understand correctly there is no need for this package anymore?
(my code compiles without it.)

[2019-01-03 15:15] #234 closed

[2019-01-03 15:15] gintsgints commented on #234
May be it is worth to mention somewhere that @types/chai-http is absolute then.

[2019-01-25 22:21] mikemfleming opened #235 "Allow redirectTo to take a regular expression as an argument"
Right now you can only use this method to test a redirect to a static destination string.

If you were testing that an article redirected to something like `/widgets/:widget_id` you couldn't use a direct comparison to a string like it's currently doing.

Request: configure it to accept either a string or a regex argument. Perform the check on items in the `redirects` array using either the string

[2019-01-27 19:31] pburkindine opened #236 "Chai 4.2.1 incorrectly extends superagent"
[code]

[2019-02-01 00:59] karosi12 commented on #75
Hi guys, the .catch(err => err) help me to return the error and save it to the error variable inside the try block.
    try {
  const data = {};
 const error = await request(app).post('failurl').send(data)
                                .set("Accept", "application/json")
                                .expect(400)
                                .catch(err => err);

[2019-02-06 16:09] EvilDrW commented on #168
In case anyone else ends up here with my problem: this symptom can also be caused if you try to pass a mongoose _id object as the value to the .field() call.  Often that object will be automatically cast to a string, but here it was not.  Calling .toString() on the _id object before passing it to .field() got rid of this undefined source.on error.

[2019-02-07 20:29] ahisley commented on #236
I ran into this exact error trace while bumping my chai-http version recently.  While debugging, I noticed that a more recent version of chai-http now ships with type definitions included in the library.  The project where I had these errors was previously set up to use chai-http type definitions from DefinitelyTyped (https://www.npmjs.com/package/@types/chai-http).

For me it was sufficient to re

[2019-02-08 12:51] RossyFranca commented on #236
I had the same problem, if using typescript and @ types / chai-http just uninstall the chai-http
npm uninstall --save chai-http
and be happy

[2019-02-08 15:07] austince commented on #236
Sorry to have not gotten to this until now, but yes, @ahisley is correct - we have added TypeScript definitions in [4.2.0](https://github.com/chaijs/chai-http/releases/tag/4.2.0), though they were not included until [4.2.1](https://github.com/chaijs/chai-http/releases/tag/4.2.1). The types from `@types/chai-http` are outdated and will conflict with the now-included types. We released this as a min

[2019-02-12 10:33] emrebaris9 commented on #170
POST_ENDPOINT_PATH may be incorrect

[2019-02-28 15:02] dawsonc623 opened #237 "Add typings for chai-as-promised integration"
I am trying to use `chai-http` with `chai-as-promised` to be able to write cleaner assertions. I want to be able to write something like this:

[code]

Functionally, this works perfectly. However, to get TypeScript to compile it, I had to add this to my code:

[code]

Once I added that, everything worked like a charm. It would be handy if `chai-http` extended the `PromisedAssertion` interface with

[2019-02-28 15:14] austince commented on #237
Hey, thanks for the request! I definitely see your use case, but since `chai-as-promised` is not a dependency of this package and since the `status` check is synchronous, I don't think just adding that typing fits within this library. Whether or not to incorporate `chai-as-promised` support is a different discussion that would need input from the community.

Though a few extra lines, I don't think

[2019-02-28 16:11] dawsonc623 commented on #237
@austince Thanks for the reply. For the time being I am maintaining the typings I need myself; it is not a lot of work, and while your solution works perfectly and reads well enough, I like how my original reads better. I am not sure how often `chai-as-promise` and `chai-http` are used together, but if it is (or becomes) common you should definitely consider this request.

[2019-02-28 16:18] austince commented on #237
@dawsonc623 your solution certainly reads nicely! Just worried about the overhead of maintaining types for something that is not a dependency, but it'd definitely be beneficial to the conversation to understand how often they are used together.

[2019-03-09 01:09] Ruudii8 opened #238 "Done is not executed, test does ot finish"
Hello,
there are already some issues and threads with a similar problem, but no workaround seem to fix my problem.
My chai.request gets executed succesfull but it seems done() is not executed, because even though all tests are executed the script always needs to be stopped manually.
My code is:

[code]

Am I doing something wrong or do I forget something?

Thanks & Greetings

[2019-03-11 11:03] keithamus commented on #238
Hey @Ruudii8 thanks for the issue.

There's nothing that looks wrong from your code, so sadly I can't really diagnose the problem without seeing either a reduced test case or if you could point me to the repository so I could run it locally and diagnose it.

What I would suggest though; if you instead `return chai.request(app)` then you can omit `done` entirely, as Mocha (which I presume you're us

[2019-03-11 11:03] #238 closed

[2019-03-11 14:19] Ruudii8 commented on #238
It's still not working. The full code is in a private repository but I uploaded all relevant files in a public repository:
https://github.com/Ruudii8/testing-demo

Already thank you for the help!

[2019-03-15 14:14] austince commented on #182
I believe this was released with [4.0.0](https://github.com/chaijs/chai-http/releases/tag/4.0.0) :confetti_ball: , so closing this.

[2019-03-15 14:14] #182 closed

[2019-03-19 03:01] blakemorgan commented on #179
I'm having a similar error. I have catch blocks and the return statement, but I still get the uncaught promise warning. Is there something I'm missing?

[code]

[2019-03-23 18:07] Ruudii8 commented on #238
@keithamus Can you take a look to the repo and reopen the issue?

[2019-03-25 13:57] keithamus commented on #238
@Ruudii8 this is not due to Chai, but due to Express+Mocha. You've called [`app.listen`](https://github.com/Ruudii8/testing-demo/blob/master/src/ui/express.ts#L16-L19) within the express  code which will open the web server and does not shut it down until you manually call `server.close` (where `server` is the return value from `app.listen()`). Mocha will not shut down these extra services for you

[2019-03-27 12:46] khusamov opened #242 "Property 'status' does not exist on type 'Assertion'"
Hello! How do I write TypeScript code correctly?

`error TS2339: Property 'status' does not exist on type 'Assertion'.`

[code]

Also I can not understand how to fix the following error:
`error TS2305: Module '"chai"' has no exported member 'request'.`

[code]

[2019-03-27 14:47] austince commented on #242
Hi @khusamov, just looking over your example, it looks like something you need to do is:

[code]

I'd know better if you'd share your `chai` setup / plugins. It also seems like maybe you'd benefit from reading through the [Chaijs Guide](https://www.chaijs.com/guide/) which gives a good configuration overview (and is equally as applicable to TypeScript!).

[2019-03-28 13:52] austince commented on #242
Going to close this as it is not an issue with `chai-http` - let me know if this helped you @khusamov.

[2019-03-28 13:52] #242 closed

[2019-03-28 16:42] austince commented on #235
Hey @mikemfleming, sorry for the delay but this seems like a good improvement to me. You've found the right file to update. I believe we would just have to update this:

https://github.com/chaijs/chai-http/blob/d5156913d72f4bbfacdd9899c65f60ecaf397892/lib/http.js#L286-L292

to something like:

[code]

Is this a feature you would like to try your hand at implementing?

[2019-03-28 16:52] austince commented on #222
Hi @w7089, I'm not sure if your `curl` call can be translated into something that `superagent` can handle, but I'm going to close this as it involves `superagent` and not `chai-http`. It might be good to open [over there](https://github.com/visionmedia/superagent/issues) if you haven't found a good solution.

[2019-03-28 16:52] #222 closed

[2019-04-02 13:46] damianb commented on #237
Personally, I have avoided `chai-as-promised` altogether and have instead been using async/await, as mocha+chai will accept an async function for the test body parameter of `it` without issue for running tests.

Which results in something like this:

[code]

...which is quite useful, considering that it's entirely reasonable to then also run additional expects on things such as returned headers, t

[2019-04-02 14:00] damianb commented on #216
To be quite honest, this is more of an issue of your application's design than it is of the library.  If your application throws an HTTP 500 response suddenly, it should be covered by implementing suitable logging of application errors.  Further, if any actually relevant information (e.g. stack trace of the error) were to be available in the response output, that would constitute an information di

[2019-04-02 15:06] cdupont commented on #216
Hi @damianb,
that's a good point, however my application has a lot of log traces. A chai test can lead to many API calls in my app. It's not easy to pin point the right message corresponding to the return code message. The stack trace is not included in the returned error code response, as you correctly point out that would be internal leaking. But sometime the HTTP code alone is not enough to deb

[2019-04-05 14:49] mikemfleming commented on #235
@austince That sounds good to me, I'll start working on it this weekend.

[2019-04-15 16:15] pburkindine commented on #236
@austince  This issue can be closed

[2019-04-15 16:15] #236 closed

[2019-04-17 17:47] austince commented on #235
Closed by https://github.com/chaijs/chai-http/pull/243 :confetti_ball: - nice work @mikemfleming !

[2019-04-17 17:47] #235 closed

[2019-04-17 22:53] austince commented on #181
Hey @MinhLu12, trying to tackle some old issues. There is no great solution for what you're suggesting as `chai-http` is usually used for integration/end-to-end testing. You might be able to hack together a way to stub it out if you can export the `dbService` that is used by the server, but I think this is a bad idea.

What I'd suggest is to write [lower level tests](http://softwaretestingfundamen

[2019-04-17 22:53] #181 closed

[2019-04-26 11:32] lud77 opened #245 "HTTP/2 support"
I noticed this project is making use of Superagent version 3.7, which doesn't have support for http2.

Is there any plan to move on to the newest version of Superagent? They are currently at version 5.0.3 which provides http2 support through a .http2() method and since most browsers nowadays use http2 it would be very useful to be able to perform that kind of test.

[2019-04-26 14:53] austince commented on #235
Released in [4.3.0](https://github.com/chaijs/chai-http/releases/tag/4.3.0) :balloon:

[2019-05-15 15:57] sw360cab commented on #228
I suggest reopening this issue...

As stated [here](https://stackoverflow.com/questions/43324004/chai-doesnt-recognize-content-type-application-javascript), using res.text only work for content-type: "text/javascript", but not for "application/javascript"

Since "application/javascript" is the right content-type to go for js files as stated by [W3C](http://www.rfc-editor.org/rfc/rfc4329.txt)

I th

[2019-05-17 20:08] ajmas opened #246 "Global keepOpen()"
Is the a way to ensure `keepOpen()` is the default during a run, rather than needing to specify it every time? If this is already there, then I seem to have missed it.

Thinking of something like:

chai.use(chaiHttp({ keepOpen: true }));

[2019-05-18 06:25] O-Osahon opened #247 "What are the valid data types of `.field()`"
It seems form fields only take strings.
```  .field('price', 200000000000) ``` seems not to work.
Is this normal?

[2019-05-18 07:20] austince commented on #247
The `field` method is from the underlying [`superagent`](https://visionmedia.github.io/superagent/) request. Their documentation details the proper values, but yes, I believe numbers are not supported.

[2019-05-18 07:20] #247 closed

[2019-05-18 11:17] aandis commented on #187
hey @vieiralucas installing from master doesn't fix this. Any other workarounds?

[2019-05-20 04:59] D4nte opened #249 ".body nor .text are set when content-type is "application/javascript""
When the `content-type` of the response is `application/javascript`, neither `.body` nor `.text` are set on the response:

[code]

Prints:
[code]

[2019-05-20 14:46] austince commented on #249
We use [`superagent`](https://github.com/visionmedia/superagent) as the request / response. I found [this issue](https://github.com/visionmedia/superagent/issues/523) in their repo with a similar issue, tldr; need to set `buffer` to `true`.

Does this work for you:
[code]

[2019-05-21 01:44] D4nte commented on #249
Yes, it works, thanks!

[2019-05-21 01:44] #249 closed

[2019-05-23 17:31] austince commented on #163
Hey @snoblenet, going through some old issues. I think it's an interesting idea but since `chai` is not opinionated about which testing framework is used, this integration would make more sense as a separate package - happy to talk about what you might need to hook into for that to happen, but going to close this for now.

[2019-05-23 17:31] #163 closed

[2019-05-24 19:27] austince commented on #228
@sw360cab it might be prudent to look into moving to 'application/javascript', but in the meantime, does this issue help you at all? https://github.com/chaijs/chai-http/issues/249

[2019-05-25 18:23] sw360cab commented on #228
@austince Ohhhh Yesss.

It does works like a charm... I did my best to find this out or documented somewhere but I could not.
Thank you!

[2019-05-27 02:56] vieiralucas commented on #168
Happy that you guys figured this out, closing the issue.

[2019-05-27 02:56] #168 closed

[2019-05-27 03:03] vieiralucas commented on #237
I think that `chai-as-promised` only shines when you want to test that a `Promise` rejects.
For other cases, IMO,  it's better to write the tests like @damianb suggested since test runners will fail the test if the `Promise` returned rejects.

I'm pretty sure that everytime the `chai-http` `Promise` rejects you want your test to fail. So I don't think that there is a strong case for using `chai-as

[2019-05-27 03:03] #237 closed

[2019-05-27 03:17] vieiralucas commented on #216
@cdupont You can overcome that by checking the body before the status.
Like:
[code]

If you write your test like this your test will fail because the `body` has an unexpected value. That way you would be able to see the actual body in the diff.

[code]

[2019-05-27 03:17] #216 closed

[2019-05-27 08:46] cdupont commented on #216
Hi @vieiralucas, good idea.
However, in case of success (200), the body can be variable; so it's hard to predict.
What I really need is:
case 200 -> display nothing
case other -> display error code + error body

Is there a way to add some custom functions in my code? I want to add this:
[code]

[2019-05-27 17:43] austince commented on #246
Hi, I don’t think there is currently a way to keep the server open by default, though it would only be closed if you are using chaiHttp to start it. Could you do something like:

[code]

Though normally, in my opinion, it's better to have each `it` test be totally independent of all other tests - it can be tough to reproduce when there is some implicit ordering between tests.

[2019-05-27 17:57] austince commented on #231
I think having this indexed in the issues should help the majority of people who run into this issue in the future. This seems like another instance that supports [moving to a more standard HTTP request library. ](https://github.com/chaijs/chai-http/issues/203)

[2019-05-27 17:57] #231 closed

[2019-05-27 18:04] austince commented on #208
Port 3000 is definitely not reserved in chai-http, nor should it be on your local computer. I haven't worked with koa in a long time - is starting the server synchronous? Could it be possible that there is a race condition where the server might still be starting when the test is run?

[2019-05-27 18:16] austince commented on #206
Hi @workin-bob, this doesn't exist in chai-http, but seems like an easy utility function that could be written. Note [this issue for getting application/javascript as text.](https://github.com/chaijs/chai-http/issues/249)

[code]

[2019-05-27 18:24] austince commented on #146
Hey @mozar10, thanks for the issue! `chai-http` is more for full end-to-end HTTP testing, which would not have access to the Express-specific Request and Response objects. I think you might be able to do these tests lower down in your stack [as people suggest here](https://stackoverflow.com/questions/34516951/express-middleware-testing-mocha-chai) or with [node-http-mocks.](https://github.com/howa

[2019-05-27 18:24] #146 closed

[2019-05-27 18:34] austince commented on #52
I think this is related[ to this superagent issue](https://github.com/visionmedia/superagent/issues/833).

Another candidate[ for dropping superagent](https://github.com/chaijs/chai-http/issues/203).

[2019-05-28 13:31] #91 closed

[2019-05-28 13:37] austince commented on #245
Certainly worth looking into upgrading superagent, though bumping to version 5.x would have to be a major release - we're currently looking into moving away from superagent (see #203) but I haven't had the time to finish that up yet. What kind of HTTP/2 support are you looking for? Can you provide some basic use/test cases?

[2019-05-28 20:45] MtDalPizzol commented on #112
I have a scenario where I need to test concurrent requests that can't follow the redirect.

So, I need to use Promise.all, but then, it will reject with the first error and I won't be able to test both responses, because I will only have the error for the first rejection.

It will be much better if I could get both responses within **.then**, not **.catch**

[2019-05-28 20:50] austince commented on #112
@MtDalPizzol still in stage 2, but is [`Promise.allSettled`](https://github.com/tc39/proposal-promise-allSettled) what you're looking for? Either way, I'm not sure if this issue is the right place for this discussion - feel free to open another if you'd like to continue!

[2019-05-31 02:43] austince opened #251 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-04 14:48] lud77 commented on #245
We would basically like to be able to test that our publications are being correctly served over http2 in order to catch potential misconfigurations. I guess the basic use case would be to fetch a page from a website that should be serving over http2 and being able to verify that the page has actually been served using http2.

[2019-06-10 14:19] austince commented on #251
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-25 11:05] garrettlove8 commented on #178
For anyone having an issue using CircleCi where the build won't complete this solves it

[2019-08-09 03:32] theodorewahle opened #254 "Documentation is not very clear about how to set request headers"
I think it would be good to include in the documentation explicitly that `.set(key, value)` is how you set a request header. May I specify this in the docs?

[2019-08-19 14:35] keithamus commented on #254
Hey @theodorewahle thanks for the issue!

Please feel free to raise a PR to add this to the documentation!

[2019-08-19 22:13] theodorewahle commented on #254
Hey @keithamus, here is my [PR](https://github.com/chaijs/chai-http/pull/256)

[2019-08-23 09:28] #26 closed

[2019-08-23 13:24] austince commented on #254
Closed with #256 :confetti_ball:

[2019-08-23 13:24] #254 closed

[2019-09-02 14:32] hamez0r opened #257 "Authorization Header not sent in second test."
I have the following two tests:

[code]

When I run both of them, the second one fails with a `401`, and logging tells me the Authorization header is not sent.

If I comment out the first test, the second one passes just fine.

Is there some obvious thing I don't know about how the library should be used?

Thanks in advance.

[2019-09-02 20:12] hamez0r commented on #257
I'm not sure why, but after using `async/await` instead of callbacks, it works. My code now looks like this:

[code]

[2019-09-02 20:13] #257 closed

[2019-09-03 13:29] austince commented on #257
Hey @hamez0r, glad you found the fix! Mixing async/await with callbacks often results in a race condition where the test finishes before the request completes, as (assuming you're using Mocha) it is just waiting for the `async` call to resolve. Here's a small article on the difference: https://medium.com/caffeine-and-testing/async-testing-with-mocha-with-callbacks-and-promises-5d0002661b3f

[2019-09-15 10:44] perrin4869 commented on #150
In case anyone else ends up here, I have a (less than ideal) workaround:

[code]

[2019-09-26 15:44] perdugames opened #258 "Attach image isn't working with app express"
I can not make the chai-http work with express:

_index.js:_
[code]

_upload-routes.js:_
[code]
_image-upload-test.js:_

[code]
I also try:

[code]
Both I get from **console.log**  => `undefined`

And I try this:

[code]
I get:

`Uncaught AssertionError: expected { Object (_events, _eventsCount, ...) } to have status code 200 but got 500`

I don't know what to try anymore.

[2019-09-26 16:56] perdugames commented on #258
I thinked wrong. Works now:

[code]

[2019-09-26 16:56] #258 closed

[2019-10-07 13:33] denizozger commented on #170
In my case the routes weren't initialised before server object was exported for chai to use (as explained here: https://stackoverflow.com/a/44185482/2498874)

[2019-10-22 16:59] schrodervictor opened #259 "Add support to better cookie assertions"
Hello!

We are using this library quite extensively, but we have the need to assert aspects about the cookies being set by the server, like `Domain`, `Max-Age` and `Path`, but I could see in the source that these are not currently supported.

I gladly offer myself to implement this feature and open the respective pull request, as I would need to fork and implement it anyways, but I'm opening this

[2019-10-23 12:08] keithamus commented on #259
This looks like a great idea to me. @austince WDYT?

@schrodervictor it'd be good to have `info` only check the keys present in the arg, e.g. if I omit the `Path` key it can still assert on `Max-Age`, `Domain` and `Secure`. Make sense?

[2019-10-23 14:26] austince commented on #259
I think this would be great too! I'm just also wondering about the `info` object - are those exact matches? I feel like people might want to use other types of assertions on those properties.

I'm not sure if this is possible, but would it be better to just improve access to cookies?
[code]

[2019-10-23 19:58] schrodervictor commented on #259
That's exactly what I thought. If the assertion isn't mentioning an certain cookie attribute, we should consider it not relevant for the test case presented.

I first thought them as exact matches, but doing regexp would be straight forward. Some attributes, like `HttpOnly` and `Secure`, have no value. They can only be present or not, so I thought to make them booleans (using `true` to assert they

[2019-10-24 14:24] keithamus commented on #259
Please go ahead! I look forward to seeing the PR!

[2019-10-24 15:16] guymalka commented on #168
the same problem for me
chai.request(app)
  .post('/api/coupons/add')
  .type('form')
  .field('customKey', 'customValue')
  .attach('files', 'avatar.png', 'avatar.png')
    .send(  body )
  .end(function(err, res){
    expect(err).to.be.null;

  });

if i send only json without attaching , the body sent to route , otherwise not

[2019-10-24 16:11] austince commented on #259
I think the chaining option makes sense and will be easier to use as well! You may want to do exact matches for now and leave the regex for a later extension, but totally up to you and thanks for the thorough plan!

[2019-10-25 03:20] not-a-seagull opened #260 "Cookies are not being properly set in requests"
My code that is being tested. This is express.js code.

[code]

Here is a test that I am using:

[code]

The third assertion (expect res to have cookie) fails, even though the cookie is set here.

[2019-10-25 13:29] austince commented on #260
Hi @not-a-seagull, I think your problems should be solved by using the `Agent`. Please see: https://github.com/chaijs/chai-http/issues/98#issuecomment-223531629

Will reopen if this is not the case.

[2019-10-25 17:45] not-a-seagull commented on #260
I tried using agents but I'm still having issues.

[code]

This results in:

```Uncaught AssertionError: expected cookie 'sessionId' to exist```

I should note that, when I use my web browser to access the server, the cookie is successfully set and used.

[2019-10-25 18:27] austince commented on #260
Can you create a small reproducable code sample / repository? It will make it much easier for us to help

[2019-10-25 18:48] not-a-seagull commented on #260
https://github.com/not-a-seagull/chai-http/tree/master/test

I forked and made a new test (`cookie-w-express.js`). It fails and is unable to access the cookie.

[2019-10-26 19:00] austince commented on #260
I believe the issue is with your redirect - when the request is redirected after setting the cookie in `/set-cookie`, it is not forwarded along in the next response.

I've modified the test in your branch to show this, and show that you can assert the first cookie on the agent if you would like.

[code]

[2019-10-26 19:00] #260 closed

[2019-11-01 18:11] schrodervictor commented on #259
Thanks from pinging here from #255, @austince! No problem on my side with those changes, as I haven't started to code this feature yet. It will be nice to have CI in place for the upcoming pull request, :+1:

[2019-11-04 16:47] vipulrawat commented on #186
Its merged I guess https://github.com/visionmedia/superagent/issues/994

[2019-11-06 00:40] schrodervictor commented on #259
@austince and @keithamus, the pull request is out, but it seems to have a problem with Github CI. Judging by the error message, it doesn't look like anything related to code itself, but more like configuration error or a third party thing (server error, 500...). Not sure. Could you please take a look? If any action is needed from my side, just let me know.

[2019-12-05 10:45] johnkrzywanek opened #262 "Update superagent dependecy to avoid deprecation warnings"
Hi, I am experiencing the following deprecation warning:

 `DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated`

on chai-http requests.

After a quick investigation that is an issue that was resolved in the latest version of superagent (5.1.2) https://github.com/visionmedia/superagent/issues/1502

Is there a reason for locking the superagent to version 3.x?

[code]

from

[2019-12-11 14:53] sguillia opened #263 "superagent lock prevents use of chai-http"
Hello

Your package.json declares the following dependency
[code]
https://github.com/chaijs/chai-http/blob/master/package.json#L54

But that version of `@types/superagent` contains a bug:
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/12044

That bug prevents some of my dependencies to compile, so I will have to uninstall chai-http altogether from my project

This is related to https://

[2019-12-11 15:09] Krzeminska opened #264 "Status 400 when i try to attach multipart pdf files type form data"
I'm trying to ask in this way:
`
request.post('/properUrl')
                .set('Content-Type', 'multipart/form-data')
                .set('Accept', 'application/json')
                .attach('file', './files/test.pdf', 'test.pdf')
                .type('formData')
                .then((response) => {
                    expect(response).to.have.status(200);
                })
`
I tried also w

[2019-12-11 15:18] austince commented on #262
Hey, thanks for the issue! I'm not sure exactly what breaking changes are in superagent >3, but our use of superagent is mostly in https://github.com/chaijs/chai-http/blob/master/lib/request.js. Do you still have time to add a PR/ would you mind checking if our usage is compatible?

[2019-12-11 15:22] austince commented on #264
Hey @Krzeminska, thanks for the issue! I'm not sure off the top of my head, but I would suggest looking at the [`superagent` API](http://visionmedia.github.io/superagent/) to see if there's an answer there? If you are still having trouble, let me know and I'll see if I can reproduce. Do you control the other server/ can you see what the incoming request looks like?

[2019-12-11 15:48] Krzeminska commented on #264
Yes, i was on this page, and tried to fix it with using its examples. Doesn't work with my issue.
On server side i see nothing, because it could not parse header, so do not enter to the method (So i cannot debug it).

[2019-12-11 15:52] austince commented on #264
Ok, no worries. Do any of these issues help?

* https://github.com/chaijs/chai-http/issues/111
* https://github.com/chaijs/chai-http/issues/168
* https://github.com/chaijs/chai-http/issues/174

[2019-12-11 15:57] Krzeminska commented on #264
Yes, I tried, as this issues mention, using:
* .attach('file', fs.readFileSync(file_path))
* .field()

[2020-01-08 04:28] rhwilburn commented on #46
Could you use `res.noContent` instead? or does that not work?

[2020-01-08 15:38] markstos commented on #46
@rhwilburn I can't find documentation for `res.noContent`. Could you provide a link?

[2020-01-08 20:06] rhwilburn commented on #46
@markstos It seems it is in a different library here: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/5344bfc80508c53a23dae37b860fb0c905ff7b24/types/superagent/index.d.ts (search for noContent). It seems that Chai-Http supports superagent library intermixed with its stuff. Example:

`chai.request(base_url).patch("/experience")
      .send({payload: "This is an invalid payload"})
      .end

[2020-01-08 20:10] austince commented on #46
Hey all, yeah `chai-http` is basically a chai wrapper around superagent. The docs for superagent can be found here: http://visionmedia.github.io/superagent/#response-properties

It looks like `res.noContent` is short for `204 == res.status || 1223 == res.status` -- not sure if that solves your use case.

[2020-01-08 21:12] markstos commented on #46
Thanks.

It sounds like `res.noContent` is specific to two status codes and would not help when checking that an empty body is returned with another status code.

For example, if some routes are expected to be called only by a frontend API and not by end users they might return a 404 status code and not bother to send content since the status code itself is sufficient for the API client to know wh

[2020-01-16 10:15] xavier-taylor commented on #180
I'm also stuck because of this issue. Seems a bit rough that you just ignored rusekr's arguments, after you invited him to make them...

[2020-01-16 10:31] rusekr commented on #180
It the end I patched fork of superagent with pull request to it of another user and set it as dependency of my fork of chai-http. and with this fork depending on fork as dependency of resulting project i managed to get what i needed. ggg

p.s. for now I am using jest

[2020-01-16 11:06] keithamus commented on #180
We're looking to re-work this module to move away from superagent, and instead move to using Web Platform base primitives like `fetch`. This will take some time, because it's hard to find free time to work on this, but rest assured the comments are being listened to and we want to make things easier.

If you'd like to get involved then we encourage it, the more maintainers projects like this have

[2020-01-22 16:10] calimero921 opened #266 "Using chai-http for mutual ssl"
Could you manage ca, cert and key "field" from superagent to enable the mutual ssl authentification.

In the actual version (4.3.0) these fields are available, but seems not to be realayed to superagent.

eg:
superagent
  .get(url)
  .ca(cacertbuffer)
  .cert(clientcertbuffer)
  .key(clientkeybuffer)
  .end((error, response) => {
    ...
  })
sends the request with certificate to the server

but :

[2020-02-06 05:17] L2jLiga opened #267 "drop old nodejs support"
Currently chai-http supports `node >= 4` and `node < 10` already EoL.

Are there any reasons to support such versions of node?

[2020-02-06 05:19] L2jLiga commented on #203
Hi there! Any updates on it?

[2020-02-06 10:36] keithamus commented on #267
Hey @L2jLiga thanks for the issue.

We tend to drop support for older EOL versions of Node once we have a reason to make a breaking major release. At current, we have no plans to make a major release - but there is an effort to drop SuperAgent (#203) which will require such a release - at which point we'll drop support for any EOL Node versions.

I'll close this, as there's nothing actionable in o

[2020-02-06 10:36] #267 closed

[2020-02-06 13:59] austince commented on #203
Hi @L2jLiga - I got about 75% done with a library that might be a suitable replacement but have never quite found the time to take it over the finish line: https://github.com/austince/fluently-fetch/tree/feat/immutible

If you're interested in contributing to that/ taking another approach, I would be grateful!

[2020-03-11 11:50] mariadb-zdraganov opened #268 "Is it possible to set header on every request?"
I saw that when using `chai.request.agent(app)` there is a possibility to reuse the cookie across all the requests.
If my API needs header authentication, is it possible to append a header on every request similar to the cookie workflow?

Something like this:
[code]

[2020-04-01 22:47] Gaelan commented on #112
To any fellow googlers from the future, this now works:

[code]

[2020-04-07 07:10] dudvil1 opened #269 "chai-http always return undifined"
need help please!!
i'm try to run this test but the res is always undifined , its weird because when i try it from postman its work fine

the test:
[code]
what im doing wrong

[2020-04-08 10:09] natanavra opened #270 "arbitrary 404 errors"
`chai.request(app)` randomly responds with 404 even after successful previous tests.
DEBUG output:
[code]

When this doesn't happen - there are usually `express` DEBUG logs between the two `superagent` logs, e.g.
[code]

A couple of ideas come to mind:
- Possibly due to a bug in an old superagent dependancy
- nock is causing a quirk in the HTTP req/res cycle

[2020-06-02 20:40] Swhite215 opened #271 "Question - Getting Inconsistent Behavior with Stub"
I am working on stubbing a function that is called in an endpoint that I am testing using chai-http. I am curious about some behavior that I am seeing.

I have provided the working and failing chunks of code below. To get to the point, the working set of code passes when done is provided in the it statement callback function and then done() is called after my assertion. When I don't provide done a

[2020-06-02 20:53] austince commented on #271
HI @Swhite215, yes I think this is expected behavior, but definitely a little weird. I believe what you're seeing is a race condition where Mocha finishes running your test before the HTTP request is executed since Mocha tests are synchronous by default and HTTP requests are asynchronous. When you pass the `done` argument to the test, Mocha configures it as an async test.

If possible, I've found

[2020-06-02 20:53] #271 closed

[2020-06-03 20:59] Swhite215 commented on #271
Thank you that makes sense. I appreciate the prompt response.

[2020-06-29 20:57] Tijesunimi opened #272 "How to set request method dynamically?"
I am currently achieving this by initializing the request then modifying the method before sending. Something like this:

[code]

I am wondering if there is a better way to go about this.

Thank you

[2020-07-30 01:27] Craigfis opened #273 "How to check the contents of a binary response payload?"
If I'm getting JSON or text back from a request I can look at the .body or .text property. But I can't see any way of inspecting the value of a binary payload response. I'd like to at least verify that it is of the expected length.

[2020-07-30 08:37] regaldisclaimer opened #274 "Missing `exit` option in the API documentation, and the NodeJS API"
I commented [here](https://github.com/mochajs/mocha/issues/3044#issuecomment-666218490) initially, but this seems to be an issue to be addressed, not just my inability to locate information.

The new `--exit` option in v4 is not incuded in the [API documentation](https://mochajs.org/api/mocha), and also seems to be missing from the[ JS runner](https://github.com/mochajs/mocha/blob/master/lib/mocha

[2020-07-30 12:00] austince commented on #274
hey @regaldisclaimer, is this issue meant for this repo? I sometimes mix up `chai` and `mocha` myself :)

[2020-07-30 12:13] regaldisclaimer commented on #274
@austince ah, yes. you're right. I was browsing both repos, and must have clicked on the wrong tab. Sorry about that!

[2020-07-30 12:13] #274 closed

[2020-10-05 11:31] cmattern68 opened #276 "Cannot read property 'headers' of undefined at Assertion.<anonymous>"
I get this error when I'm running my unit tests on gitlab pipeline, but it work fine on my local environement:

[code]
Here is my unit tests files architecture:

[code]

The app is also working on docker environment.

Unit tests are run by the following command:
[code]

common.js:
[code]

top.js:
[code]

AuthGetRegister.js:
[code]

I put AuthGetRegister as exemple, but get the same error for all m

[2020-10-05 11:39] MsShivaniChauhan commented on #170
Any update on this issue? I have the same problem.

[2020-10-05 13:07] austince commented on #276
Hey, not sure if this is the issue (and if so, bad error message), but can you confirm that you actually have a server running at `http://localhost:3000`? Chai-http will not spin up a server for you when just given the endpoint.

[2020-10-05 14:15] cmattern68 commented on #276
Hey, yes, I confirm that my server is runing on 3000

[code]

[2020-10-05 14:17] austince commented on #276
And you can send a `GET` request to `/api/auth/register` outside of your test case?

[2020-10-05 14:25] cmattern68 commented on #276
Outside the test case, here is an exemple of the response from this route:
[code]

When i'm running the test command on my computer, the xml file is well generated by junit-reporter (as you can see below)
[code]

But when the command is run by Gitlab pipeline, the error occurs. I can also confirm that the test command is run after checking if the node server is running.

[2020-10-05 14:27] austince commented on #276
So this test passes locally for you?

[2020-10-05 14:29] cmattern68 commented on #276
Yes, it pass locally, but not on the pipeline.

[2020-10-05 14:31] austince commented on #276
Ah missed that from the description, sorry. Can you share your gitlab pipeline, since that seems to be what's actually the issue?

[2020-10-05 14:38] cmattern68 commented on #276
No worries ! Yep, here it is:

Pipeline configuration:
[code]

Log:
[code]

[2020-10-05 14:45] austince commented on #276
Do you have your docker-compose file as well? :grimacing:

[2020-10-05 14:52] cmattern68 commented on #276
Yep, the server is running in the app container ! Here is the docker infos:

[code]

Dockerfile:
[code]

nginx.conf
[code]

[2020-10-05 15:01] austince commented on #276
I'm no nginx expert, so if there's an issue there I'm useless hah, but my guess is that the server just isn't starting in time. Could you try using something like [`wait-for-it`](https://github.com/vishnubob/wait-for-it) to ensure the server is available inbetween the seeding and the test commands?

[2020-10-05 15:04] cmattern68 commented on #276
Okay, I'll try the ```wait-for-it``` and i'll let you know ! :)

[2020-10-05 17:03] cmattern68 commented on #276
The ```wait-for-it``` script solve the issue ! I wouldn't have thought that the problem came from there .. Thank you very much for your help ! :)

[2020-10-05 17:03] #276 closed

[2020-10-05 17:29] austince commented on #276
Woohoo! Glad to help @cmattern68!

[2020-10-13 16:26] takwas opened #277 "Security Vulnerability: Update superagent Version to Fix!"
There are [known issues](https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=jQuery) with jQuery versions before [v3.5.0](https://www.npmjs.com/package/jquery/v/3.5.0).

This resulted in the flagging of supergent versions prior to [v6.0.0](https://github.com/visionmedia/superagent/releases/tag/v6.0.0), where [a fix](https://github.com/visionmedia/superagent/pull/1582) has been applied.

Therefore, th

[2020-10-13 16:53] austince commented on #277
I know we've been hesitant to upgrade superagent before (see https://github.com/chaijs/chai-http/issues/203) because we've contemplated dropping in favor of just `fetch`, though these efforts have stalled (my bad). That being the case, I would be on board with a PR upgrading superagent if there are not too many breaking changes. Is this something you would be interested in tackling?

[2020-12-01 19:55] rajchandra3 opened #278 "Is there a way to share cookies between multiple agents?"
Hey, I am trying to write tests that involve making requests to hosted servers (via URL ) say(via `agent1` and `agent2`) & local server(`agent3`). I want to fetch cookies from a server in `agent3` and share that with `agent1` and `agent2`. Is there a way to do it?

Sharing some code snippets for clarity.
[code]

Can I share cookies between these agents?

[2020-12-04 00:36] sunilhrx opened #279 "How do i POST xml request in chai?"
I want to post a request with XML request in chai

Here's my code:

describe('Test group', function() {
    var host = "http://myhost.com";
    var path = "/myPath";

    it('should send parameters to : /myPath POST', function (done) {
        chai
            .request(host)
            .post(path)
            .type('xml')
            .set('content-type', 'application/xml')
            .send({'<Na

[2020-12-04 15:03] austince commented on #279
Hey @sunilhrx, `chai-http` is mostly a wrapper around `superagent`, so I'd suggest you look at the superagent docs, particularly the section about [serializing request bodies](https://visionmedia.github.io/superagent/#serializing-request-body).  You probably don't need to add a custom serializer, but from the examples it looks like the `send` method should receive a `string` for `application/xml`

[2020-12-04 15:03] #279 closed

[2020-12-27 19:31] catiaraminhos commented on #189
It really worked! Thanks!

[2021-01-18 22:20] jayceekay opened #280 "Recommended way to extend the request class?"
I was hoping to make a helper method for assisting with auth, eg. `chai.request(app).get('/users').withAuth()` which ensures
- a user is dynamically inserted in the db
- a bearer token is generated and persisted (via passport)
- the token gets set in the req's auth header

i've been putzing around trying to wrap chaiHttp just so i can wrap lib/request, then set that wrapper as chai.request rather

[2021-02-26 20:34] austince commented on #251
@keithamus what type of token is `f674......69f0`? semantic-release should now support NPM `automation tokens`, if you're able to make of one those.

[2021-02-26 20:45] keithamus commented on #251
That token is an automation token.

[2021-02-26 21:03] austince commented on #251
Hmm, if I could go back 2 years and tell myself not to recommend this... I guess I'll look into what else could be misconfigured.

[2021-02-26 21:10] austince commented on #251
Any chance you'd be willing to run the release script locally with that token to see if that reproduces the error?

[2021-02-26 23:04] austince commented on #251
![Screen Shot 2021-02-26 at 6 03 16 PM](https://user-images.githubusercontent.com/4655775/109364534-ffde1180-785c-11eb-8c37-29f983fc6ca3.png)
@keithamus I can't see the settings for chai-http, but could you double-check what they look like if you get a chance?

[2021-02-27 00:07] keithamus commented on #251
They match the settings in your screenshot.

[2021-02-27 00:09] austince commented on #251
Have you published anything else with an automation token with a package having these settings?

[2021-02-27 00:16] keithamus commented on #251
I've rolled the token. The new one is `ff9b......76c4`. Double checked the user can publish to the package. I'm on mobile for the weekend so can't update the yml, but if you could please update the comment for it and I can approve from mobile.

Grasping at straws but I've no idea what is really going wrong here 🤷‍♂️

[2021-02-27 00:23] austince commented on #251
Yeah I'm very confused as well, I'll update the yml and try it again. If not will raise some issues and see if semantic-release knows what's up.

[2021-03-03 18:23] rtfx-glob opened #290 "Chai-http [POST] does not allow to send an Array on bodyParameters (API Testing & Javascript)"
Chai-http version: "4.3.0"

I have found this kind of weird behavior in my test case.

Let's recreate the scenario

I do have 2 classes:

API.ts -> which refers to the class where I'm creating the requests.

API-op.ts -> which refers to the class where I'm validating through asserts, expects etc.

Context: There are some dependencies between the methods. I mean, If I want to publish I need first a

[2021-03-03 18:34] rtfx-glob commented on #290
I have edited the JS class on @types/superagent/index.d.ts and I've added this:

In the method `interface Response extends NodeJS.ReadableStream`

I have added this: `send: any;`

ant in the interface method `interface SuperAgent<Req extends SuperAgentRequest> extends stream.Stream`

I have added this: `send(url: string, callback?: CallbackHandler): Req;`

**With that kind of implementation I have

[2021-05-08 12:02] Emyboy commented on #170
![image](https://user-images.githubusercontent.com/34845973/117538279-65890f80-affd-11eb-8202-43fded06cf0a.png)

I'm having the same issue, for a simple endpoint that returns `{message: "it works"}`

This route works fine on postman.